[2015-08-01 16:30] BetterToAutomateTheWorld opened #1 "Hudbar slots"
- [x] Add some slots to the hudbar like the MFF server (tweakable in the minetest.conf)

[2015-08-01 16:41] ObaniGemini opened #2 "Mods (or parts of mods) that shall be removed"
Here is a list of the mods or parts of mods that should be removed of hungry games. Please contribute to this.
- [X] bucket : remove crafts => https://github.com/MinetestForFun/hungry_games/commit/03cb9b5a0b1e3ddefb39fa9b8c4d2a2334b7e191
- [X] doors : remove crafts => https://github.com/MinetestForFun/hungry_games/commit/03cb9b5a0b1e3ddefb39fa9b8c4d2a2334b7e191
- [X] dye : remove mod => https://gi

[2015-08-01 17:22] BetterToAutomateTheWorld commented on #2
The list is great, i think you can removed it.

Maybe we should also removed **chests** and **furnaces** ? (I've see usebug on the spawn in the HG actual server with it)
- [x] Removed chest **craft.item** only
- [X] Removed furnace **craft.item** only

[2015-08-01 17:31] BetterToAutomateTheWorld opened #3 "Add inventory buttons"
- [x] An inventory button wich replaced the "/vote" command line
- [x] An inventory button wich replaced the "/register" command line
- [x] An inventory button wich replaced the "/ranks" command line

[2015-08-01 17:53] ObaniGemini commented on #2
To remove dye :
- remove textures used by maptools
- remove a craft in carbone_mobs
- remove craft system of wool

[2015-08-01 20:25] Lymkwi commented on #2
https://github.com/MinetestForFun/hungry_games/commit/03cb9b5a0b1e3ddefb39fa9b8c4d2a2334b7e191
Just clarify the precise snippets I have to remove from food, and decide what to do with mobs.
Furnaces and chests are the last one, but chests are needed by `random_chests` for random stuff around the HG arena.

[2015-08-01 20:44] BetterToAutomateTheWorld commented on #2
See my post again, the chest and furnace mod have dependencies (of course, we missed it), we just need to removed the **craft.item** !

[2015-08-03 00:39] BetterToAutomateTheWorld opened #4 "Add [irc] mod"
- [X] Add irc mod => https://github.com/MinetestForFun/hungry_games/commit/6205dad084206a23a92ef70c5ae41a6596488285
- [X] irc command mod => https://github.com/MinetestForFun/hungry_games/commit/6205dad084206a23a92ef70c5ae41a6596488285
- [x] and to the channel #minetestforfun-hg

[2015-08-03 00:40] BetterToAutomateTheWorld opened #5 "Remove [ladder] craft recipe"
- [x] Remove [ladder] craft recipe

Too many usebugs with it !

[2015-08-03 00:49] BetterToAutomateTheWorld opened #6 "Website banner"
Create a slider-banner to promote the Hunger Game server in our website !

[2015-08-03 16:07] ObaniGemini commented on #6
easy, we just need a photo from the hub and a picture from the fighting terrain. Then, a little mount with them, a good policy and let it go ^^

[2015-08-03 16:19] ObaniGemini commented on #5
https://github.com/MinetestForFun/hungry_games/commit/a2a58597044390ec81e03308b9807dd2cd46801c

[2015-08-03 16:19] #5 closed, assigned to ObaniGemini

[2015-08-03 16:23] ObaniGemini opened #7 "Some little things to add"
- [x] Locked signs https://github.com/MinetestForFun/hungry_games/commit/f86d9a400c6342f59da67f45dd88f81f88a40619
- [x] Players can't take stuff like admin pickaxe when dropped
- [X] Connected Glass => https://github.com/MinetestForFun/hungry_games/commit/92ae5310f2118d330b713cc719944c1f1c440a3c

[2015-08-03 16:27] ObaniGemini opened #8 "Map enhancement"
- [x] Fix locked chests from Calinou's server
- [x] Fix problems with griefed map, maybe make all the zone unbreakable => already done
- [x] Make some little builds in the hub ( little house, little forest,...) (Thanks to @LeMagnesium and @Ataron)
- [x] Enhance fighting map ? (Thanks to @LeMagnesium and @Ataron)
- [x] new race more difficult ? => middle race
- [x] Add 2 spawn point, and split play

[2015-08-03 16:33] ObaniGemini commented on #2
Foods that aren't used : Everything excepted :
- food_bread_slice
- food_bun
- food_juice_apple
- food_juice_cactus

[2015-08-03 17:02] Lymkwi commented on #4
Should I copy the IRC mod from [MinetestForFun](https://github.com/MinetestForFun/minetest-minetestforfun-server/) or should I put it from Kaeza's repository?
About the IRC channel, I'm joining IRC right now.

[2015-08-03 17:34] Lymkwi commented on #2
https://github.com/MinetestForFun/hungry_games/commit/b5d955ecc1a7b960af919d3385d8e42811382d1e
I removed everything edible, appart from the four items listed above and what was needed to have them.
About the chests and furnaces, do you want to :
- Make them invisible in creative inventory?
- Removed the node? (I'm sure it won't be that one)
- Remove a specific item in a mod using them? (And, in wh

[2015-08-03 18:15] BetterToAutomateTheWorld commented on #2
Look at my post, we just need to removed the **craft recipe** ;)

[2015-08-03 18:30] BetterToAutomateTheWorld opened #9 "Gauges !"
- [x] Add the gauges mod from MFF ! https://github.com/MinetestForFun/hungry_games/commit/0a54d4a982a36eb4bd2f6984ea03d7b7e8b418bf

[2015-08-03 18:34] Lymkwi commented on #2
Well I got a bit confused.
Anyway, I looked at the code, and it seems like there are no craft recipes to make either furnaces nor chests. So, I think this is done.

[2015-08-03 20:57] BetterToAutomateTheWorld commented on #9
Done.

[2015-08-03 20:57] #9 closed, assigned to BetterToAutomateTheWorld

[2015-08-03 21:54] BetterToAutomateTheWorld commented on #1
16 slots now, simply a ingame command !

**/sethotbarsize 16**

[2015-08-03 22:07] BetterToAutomateTheWorld commented on #2
Now over

[2015-08-03 22:07] #2 closed, assigned to BetterToAutomateTheWorld

[2015-08-03 22:07] BetterToAutomateTheWorld commented on #4
Minetest.conf https://github.com/MinetestForFun/hungry_games/commit/3ad7d7506f1c8d51cbf2499050e54998e1d4d0b0

Closed because over

[2015-08-03 22:07] #4 closed, assigned to Lymkwi

[2015-08-03 22:20] BetterToAutomateTheWorld opened #10 "Inventory delation"
#### Introduction

When you click on resurrect very fast, you are teleported to the spawn point.

But sometimes, you click really fast and you stuck in place in the HG battle area instead of being teleported to the spawn point, you're teleported after some seconds...
This situation is embarrassing because the time you resurrect on the arena, you grab some of your stuff !

Conclusion, you're telepo

[2015-08-03 23:19] BetterToAutomateTheWorld opened #11 "IRC crash"
At startup, the IRC mod crash the server :

[code]

Same problem with our first IRC introduction on MFF

[2015-08-04 13:46] BetterToAutomateTheWorld commented on #1
Reopenned because it's not a solution, this setting is only for the player wich write it !

We need a feature to set 16 hot slots to every players (like in MFF)

[2015-08-04 13:47] ObaniGemini commented on #1
On a local server it works. Someone might have changed the minetest.conf

[2015-08-04 13:53] BetterToAutomateTheWorld commented on #1
I've onyl done an in-game command.
We need the minetest.conf set parameter.

[2015-08-04 13:58] ObaniGemini commented on #1
https://github.com/MinetestForFun/hungry_games/commit/6c5db320d1731aa5a7cdfac00f443f347975adbe (crabman)

[2015-08-04 13:58] #1 closed, assigned to BetterToAutomateTheWorld

[2015-08-04 14:19] Lymkwi commented on #11
It does not find the IRC library. I will try to make the lua files executables.
https://github.com/MinetestForFun/hungry_games/commit/f0ea1c987c560c1aa4d256f0abb8b1bc20ddaee4
(I think the "fix #" automatically closed the issue)

[2015-08-04 14:22] Lymkwi commented on #10
I know a mod that deletes player's inventories when they die, it's easy to do. I will code it and push it later.

[2015-08-04 14:49] BetterToAutomateTheWorld commented on #10
We don't need to erase the player inventory when they die... Dropondie mod needs to do its job and drop the item of the dead player.

BUT, the dead player must NOT catch his items because of a usebug/lag of the resurection feature.

Erase the player 1/2/3/4/5sec after his resurrection is maybe a solution...

[2015-08-04 19:11] BetterToAutomateTheWorld opened #12 "/vote message"
Je remarque que beaucoup de parties ne démarrent pas uniquement car les joueurs ne font pas /vote, il y a beau avoir entre 5 et 10 joueurs, ils vagabondent à tester les jumping puzzle...

il faut rajouter une ligne de dialogue automatique toute les 30 sec(ou moins) demandant à ceux qui n'ont pas voté de le faire !

[2015-08-04 19:18] BetterToAutomateTheWorld opened #13 "Many unknow nodes"
Now we have many unknow nodes generated in chests because we deleted items/mods BUT we don't removed the loots generation from chests random generation...

[2015-08-04 20:47] Lymkwi commented on #13
I think the last item you mentionned on irc, `default:bread_slice`, was replaced.
https://github.com/MinetestForFun/hungry_games/commit/d0fafbbc3305a4d89757f8abb45ae957af768e07

[2015-08-04 20:59] BetterToAutomateTheWorld commented on #13
Need to check after the next merge to the server if we encounter another unknow nodes...

[2015-08-05 06:28] ObaniGemini commented on #13
This was the only unknown node appearing. The others were blocs on the map depending on deleted mods

[2015-08-06 09:59] ObaniGemini commented on #12
Si ils ne lisent pas le chat, ils ne vont pas lire les messages automatiques..............
Il faudrait leur faire un lonnnnnnng tutoriel en 126 langues pour leur apprendre comment entrer dans le chat, taper une commande,........ non merci.

Par contre, est-il possible de mettre un command bloc /vote ?

[2015-08-06 10:34] BetterToAutomateTheWorld commented on #12
Bonn idée, un/plusieurs commandblock va/vont être mis en place

[2015-08-06 19:32] Lymkwi commented on #10
`minetest.register_on_respawnplayer` is the function I will be using, it will erease a player's inventory after they respawned, so that dropondie will have time to do its stuff before we delete the full inventory to be sure the player is not carrying items they get after dying.
I will take advantage of being away for a few days to work offline on a few little tasks like these. I should push my mod

[2015-08-06 19:53] ghost commented on #10
oop's fixed https://github.com/MinetestForFun/hungry_games/commit/d7576d6af1bf6fbd385cd03d29f74e1e88eaa506 and https://github.com/MinetestForFun/hungry_games/commit/351262bbc4073275b5c0c335df964e033b63d1c1

[2015-08-06 19:55] #10 closed, assigned to nobody

[2015-08-06 20:32] BetterToAutomateTheWorld commented on #10
Great ! thank your for this very interresting commits/fixs :)

[2015-08-06 22:25] ghost opened #14 "Include an automaticc pixel art of the top 1 player"
Make a wall of fame, for the first filing, (erase and replace if the classification changes)
1 Player ranking pixelart his name on the wall of fame.
- [x] make wall of fame on server (L 100 nodes?, H 50)
- [x] make api
- [x]  make letters/digit in table.
- [x] debug

[2015-08-07 09:56] BetterToAutomateTheWorld opened #15 "Add shutdown mod"
like for MFF, jsut for the alerts/messages before the reboot

The daily reboot is 4h30 like MFF

=> just in english, no need the french translation

[2015-08-07 09:57] BetterToAutomateTheWorld opened #16 "Improved item_drop mod"
Take the mod from the MFF repository and import it to the MFF-HG repository, if it's possible.

[2015-08-07 09:58] BetterToAutomateTheWorld opened #17 "Improved 3d_armor mod"
Take **ONLY** textures from MFF repository and import it to the MFF-HG repository, if it's possible.

[2015-08-07 09:59] BetterToAutomateTheWorld opened #18 "improved flowers mod"
Take the mod from MFF repository and import it to the MFF-HG repository, if it's possible.

The actual flowers mod on HG is the old mod.. MT_game use our flowers mod now...

Our code is faster.

[2015-08-07 10:00] BetterToAutomateTheWorld opened #19 "improved hudbars mod"
Need to take just the "hotbar" texture from the MFF repository and add it to the MFF-HG.

The actual hotbar on MFF-HG is bugged for a 16slots hotbar.

[2015-08-07 10:26] BetterToAutomateTheWorld opened #20 "Improved snow mod"
Add the MFF snow mod to MFF-HG

BUT, need to remove many nodes, be carful !

The HG subgame needs to be very light.

[2015-08-07 10:27] ObaniGemini commented on #14
https://imgrush.com/k4o9i-xWB06H

[2015-08-07 10:29] BetterToAutomateTheWorld opened #21 "Improved sprint mod"
Take care of these modifications, our sprint mod have some features with the click when sprinting which stops the sprint, we don't need it for HG.

[2015-08-07 11:58] ghost commented on #16
Tu veut mettre ce truc surchargé?
ça surcharge le réseau et le proc inutilement.
avant c'était, "il est là, il est plus là", maintenant c'est "il est là, puis là, puis là, c'est bon il est plus là". :)
je crois que les joueurs s'en moquent des effets, tant qu'ils peuvent jouer confortablement.

En plus j'avais remis les bonnes var, il n'y avais plus de bug, depuis les var ont étés remplacé, les it

[2015-08-07 13:43] BetterToAutomateTheWorld commented on #16
Mh... je réalisai pas que l'on avait autant de soucis avec ce mod sur MFF, le plus important pour moi était pas l'effet (bien qu'il soit simpa), le plus important c'était les globalsteps enlevés/réduits

[2015-08-07 15:14] ghost commented on #19
fixed https://github.com/MinetestForFun/hungry_games/commit/8ee3e6398a8e26ccec83e8a41e574a64a1f769c3

[2015-08-07 15:14] #19 closed, assigned to nobody

[2015-08-07 15:29] ghost commented on #15
fixed https://github.com/MinetestForFun/hungry_games/commit/0af887e792e84c9e99751ae69b20c78841585868

[2015-08-07 15:29] #15 closed, assigned to nobody

[2015-08-07 16:28] ghost commented on #17
fixed https://github.com/MinetestForFun/hungry_games/commit/a26c9e18b959ee79898d9aa6b95ade7e7f511310

[2015-08-07 16:28] #17 closed, assigned to nobody

[2015-08-07 18:45] Lymkwi commented on #16
Pour ce qui est juste des globalsteps, je peux m'en charger, c'est pas compliqué à faire.

[2015-08-07 18:47] Lymkwi commented on #21
Do you mean that you want us to reprogram the click-to-stop-sprinting feature?

[2015-08-07 18:57] Lymkwi commented on #18
Maybe not, but at least it looks cleaner, is easier to understand when you want to add a flower, and is much harder to tweak when you need to modificate just one flower.
Here we go :
https://github.com/MinetestForFun/hungry_games/commit/f2f21018362dd9a6dd35e702b4e96b5ebab5999f

[2015-08-07 18:57] #18 closed, assigned to Lymkwi

[2015-08-07 20:21] BetterToAutomateTheWorld commented on #21
Read the issue carefully please, I said **"we don't need it for HG"**
(Come to IRC if you want to ask us or confirm something :))

So, we need the MFF sprint mod, **without** the click-to-stop-sprinting feature.

[2015-08-07 20:38] BetterToAutomateTheWorld opened #22 "Improved shields textures"
Replaced the actual shields texture (16px) with the 32px from MFF

[2015-08-07 20:44] ghost commented on #22
fixed https://github.com/MinetestForFun/hungry_games/commit/a26c9e18b959ee79898d9aa6b95ade7e7f511310

[2015-08-08 10:19] BetterToAutomateTheWorld commented on #22
I didn't see shields texture on this commit, great ! :)

[2015-08-08 10:20] #22 closed, assigned to nobody

[2015-08-08 11:06] BetterToAutomateTheWorld opened #23 "Nodes to removed"
We can make the game lighter, jsut need to removed this nodes(i give only the description of the node, extracted from the admin inventory) :
- [x] Book https://github.com/MinetestForFun/hungry_games/commit/d17d6f5766d1ebf51799bbef086ca5f6e87193a9
- [x] clay lump https://github.com/MinetestForFun/hungry_games/commit/d17d6f5766d1ebf51799bbef086ca5f6e87193a9 (fixed by https://github.com/MinetestForFu

[2015-08-08 11:18] ObaniGemini commented on #23
https://github.com/MinetestForFun/hungry_games/commit/d17d6f5766d1ebf51799bbef086ca5f6e87193a9

craft was already removed for paper and furnace

[2015-08-08 11:20] BetterToAutomateTheWorld opened #24 "No more axes"
Axes are useless, do very small amount of damages, and are slow.

It's a problem because a Axe is more expensive in ressources than the equivalent sword and are very under the sword caracteristics...

So, for avoid confusing our players, we need to remove this Axes and replaced them with equivalent swords in chests :
- [x] wood axe (in chest replaced by => wood sword)
- [x] stone axe (in chest rep

[2015-08-08 11:56] ObaniGemini commented on #24
https://github.com/MinetestForFun/hungry_games/commit/9ec1a8070c3dc337f0ccf61b011074958516c935

[2015-08-08 11:56] #24 closed, assigned to ObaniGemini

[2015-08-08 11:56] ObaniGemini commented on #23
https://github.com/MinetestForFun/hungry_games/commit/9ec1a8070c3dc337f0ccf61b011074958516c935

[2015-08-08 12:16] BetterToAutomateTheWorld commented on #23
The minerals nodes aren't removed but they drops are replaced by  "default:cobble"

It's not a durable solution, we need to removed the placed_nodes_ and register aliases to removed old placed nodes (minerals)

[2015-08-08 18:44] Lymkwi commented on #21
Oh, ok. I didn't understand why you talked about this issue, because we already copied the full `esprint.lua` file from MFF to HG, removed a few mana/maxStamina stuff we don't need, and it was done.
I can not come on IRC, my connection is terribly slow and I have to use a smartphone acting as a router to access the internet (which I cannot do more than 30 minutes per day).
Anyway, the mouse click

[2015-08-08 21:33] ObaniGemini commented on #21
That's why you're not as active as usual @LeMagnesium :)

[2015-08-09 19:49] BetterToAutomateTheWorld opened #25 "New steel textures"
- [x] Add the new steel ingot/block textures made by @LeMagnesium from the MFF server.

[2015-08-09 19:57] BetterToAutomateTheWorld commented on #7
- [x] Players can't take stuff like admin pickaxe when dropped => No needed because when a HG is finished, every stuffs are erased.

[2015-08-09 19:58] BetterToAutomateTheWorld commented on #8
Can you update this issue and keep us informed about its progression ? @ObaniGemini

[2015-08-09 20:03] BetterToAutomateTheWorld commented on #25
Done https://github.com/MinetestForFun/hungry_games/commit/f8a9277d511d732f6842addb6cecf69f5dc31d48

[2015-08-09 20:03] #25 closed, assigned to BetterToAutomateTheWorld

[2015-08-09 20:15] BetterToAutomateTheWorld commented on #23
The tweak for the minerals isn't necessary after reflexion, players can't dig anything :D https://github.com/MinetestForFun/hungry_games/commit/d1391a4295ccf0709cefc548d5ab062655fe538c

[2015-08-09 20:18] #23 closed, assigned to BetterToAutomateTheWorld

[2015-08-09 21:20] BetterToAutomateTheWorld commented on #20
Over, configuration also tweaked

[2015-08-09 21:20] #20 closed, assigned to BetterToAutomateTheWorld

[2015-08-09 21:20] BetterToAutomateTheWorld commented on #13
Ok, closed this issue because no more unknow items in chests, for the unknow item in maps, we should removed it manually

[2015-08-09 21:21] #13 closed, assigned to Lymkwi

[2015-08-09 21:40] BetterToAutomateTheWorld commented on #21
This issue is useless, the mod was already merged.
Thank you @LeMagnesium !

[2015-08-09 21:40] #21 closed, assigned to Lymkwi

[2015-08-09 22:01] BetterToAutomateTheWorld commented on #16
Over https://github.com/MinetestForFun/hungry_games/commit/8bc085edcd41306f03a96e30bf698eafbf59e1b0

[2015-08-09 22:01] #16 closed, assigned to nobody

[2015-08-09 22:10] BetterToAutomateTheWorld commented on #11
Same errors after the merge, i don't understand why it didn't work Oo

[2015-08-09 22:18] BetterToAutomateTheWorld opened #26 "Suppress many arrow types"
Suppress :
- [x] Build arrow
- [x] Dig arrow
- [x] Teleport arrow

[2015-08-09 22:50] BetterToAutomateTheWorld commented on #26
Done. https://github.com/MinetestForFun/hungry_games/commit/496bdebdd4678588ab4072c4c62867be051a65a4

[2015-08-09 22:50] #26 closed, assigned to BetterToAutomateTheWorld

[2015-08-10 00:07] BetterToAutomateTheWorld opened #27 "Many [Food] Fixs/improves"
#### Food(s) wich need to be renamed
- [x] Cactuz Juice => Cactus Juice (grammatical mistake i think) https://github.com/MinetestForFun/hungry_games/commit/84579a9be57d7b767b3793aa82a941446235c78c
#### Many foods have a really ugly textures... Need to list it and improved it (@Ataron can you do this ?) :
- [x] Bun (FR:Brioche) https://github.com/MinetestForFun/hungry_games/commit/0e603242d463f3379

[2015-08-10 00:09] BetterToAutomateTheWorld commented on #14
possibly improved version : print the top 3 players with a number next to the pseudo to understand which player is first, second, third !
example :

[code]

[2015-08-10 07:22] BetterToAutomateTheWorld opened #28 "throwing mod small improves"
Moins de "retombé" pour les flêches, il y en a trop actuellement, la portée en sera augmenter, attention a ne pas trop l'augmenter.

Si possible augmenter légèrement la vitesse des fleches aussi.

[2015-08-10 17:06] ghost commented on #28
reduce -10 to -6 . https://github.com/MinetestForFun/hungry_games/commit/399b964e614d2f373548ff86b5f22151fb03cb7a#diff-f3f00b0a88e50a4089ad5c4b3e1de138R46

[2015-08-10 17:49] BetterToAutomateTheWorld commented on #28
Perfect, thank you.

[2015-08-10 17:49] #28 closed, assigned to nobody

[2015-08-10 20:35] BetterToAutomateTheWorld opened #29 "Server crash"
[code]

[2015-08-10 21:30] BetterToAutomateTheWorld commented on #3
https://github.com/MinetestForFun/hungry_games/commit/245b834fb5136ae6600551a2c2573b7112747e28

[2015-08-10 21:30] #3 closed, assigned to nobody

[2015-08-10 21:34] BetterToAutomateTheWorld commented on #7
What's the problem with _connected glasses_ ?

[2015-08-11 10:09] Lymkwi commented on #11
I have no solution for this. You will have to see with kaeza who helped you to fix it the first time.

[2015-08-11 10:16] Lymkwi commented on #7
https://github.com/MinetestForFun/hungry_games/commit/92ae5310f2118d330b713cc719944c1f1c440a3c

[2015-08-11 10:16] #7 closed, assigned to Lymkwi

[2015-08-11 10:24] Lymkwi commented on #29
https://github.com/MinetestForFun/hungry_games/commit/d62a451a66a639c728adbbde94ecb84fbbc000cd

[2015-08-11 10:24] #29 closed, assigned to Lymkwi

[2015-08-11 10:28] Lymkwi commented on #12
Une fois le bloc ajouté ce ticket sera complet.

[2015-08-11 10:49] BetterToAutomateTheWorld commented on #29
Thanks
(Don't forget to assignee the issue to you before you closed it)

[2015-08-11 13:05] ghost commented on #11
"ERROR[main]: /usr/share/lua/5.1/socket.lua:13: module 'socket.core' not found:"
line 13 -> local socket = require("socket.core")

if I move core.so

irc crash

[2015-08-11 13:38] BetterToAutomateTheWorld commented on #11
In my case :

[code]

Will be tried this night :

[code]

[2015-08-11 13:51] Lymkwi commented on #11
You need socket's core.so. Not any other one.

[2015-08-11 14:15] BetterToAutomateTheWorld commented on #11
A duplicated core.so is a core.so

[2015-08-11 20:55] BetterToAutomateTheWorld commented on #12
Pour le vote block : https://github.com/MinetestForFun/hungry_games/commit/583e2dea8fc68d07a92d0e6eb3a9c12911e12a26

(manque le message de "demande de vote" automatique, tous les x temps (15/30sec) si le joueur n'a pas voté)

[2015-08-12 09:59] Lymkwi commented on #11
`core.so` is the generic name for those files, like `init.lua`, the one we need is the one in lua/5.1/socket/. I wasn't saying that you needed this file at this place in particular, just that you needed to copy **this file** and not the others `core.so` in IRC's mod folder.

[2015-08-12 10:02] ElementW commented on #11
@Ombridride @LeMagnesium Or, alternatively, you can just use a symbolic link...

[2015-08-12 10:05] Lymkwi commented on #11
@gravgun That works too, I don't know how git will handle it though.

[2015-08-12 12:40] BetterToAutomateTheWorld commented on #14
For the top1 it works really great, need now a top 3 ?

the secodn an third player can be in an another color, and the top 1 with a flahsy color, maybe ?

[2015-08-13 17:31] BetterToAutomateTheWorld commented on #12
Message if player hasn't yet voted https://github.com/MinetestForFun/hungry_games/commit/1e6ce11d36ad399aed132854a0a7204ed4183c73

[2015-08-13 17:31] #12 closed, assigned to Lymkwi

[2015-08-13 17:51] BetterToAutomateTheWorld opened #30 "interact privs"
Has we think about for the voting block, every players needs to have the interact privs, so we need to grant interact to all olds players and new player,s maybe a mod wich grant the interact privilege at the connection of a player ?

[2015-08-13 18:13] ghost commented on #30
on_join() grant interact :)

[2015-08-13 19:11] BetterToAutomateTheWorld commented on #30
it's not enought, when a player enter in the HG arena, he gains "interact" privilege, but when he leaves the HG he losts this privilege, give interact on_join isn't enough :)

[2015-08-13 19:21] BetterToAutomateTheWorld opened #31 "Spectator mod"
The spectator mod is activated but die players can't be spectator, there are jsut teleported to the lobby like the "lobby" mod and not hte "spectator" mod

[2015-08-13 21:13] ghost commented on #27
fixed typo cactus https://github.com/MinetestForFun/hungry_games/commit/84579a9be57d7b767b3793aa82a941446235c78c

[2015-08-13 21:14] ghost commented on #30
I think it's fixed https://github.com/MinetestForFun/hungry_games/commit/84579a9be57d7b767b3793aa82a941446235c78c

[2015-08-13 22:18] BetterToAutomateTheWorld commented on #30
Ok, great.

But now the players in the lobby wich wait the end of the HG, have their life bar and can die in lava/acid/falling/killother players in the lobby

We need a way to re-grant the invicible stats to lobby players even if a game is already begin

[2015-08-13 22:58] ghost commented on #30
on_die line 474 remove interact for spectate
https://github.com/MinetestForFun/hungry_games/blob/84579a9be57d7b767b3793aa82a941446235c78c/mods/hungry_games/engine.lua#L474

and line 160 stop_game regrant interact https://github.com/MinetestForFun/hungry_games/blob/84579a9be57d7b767b3793aa82a941446235c78c/mods/hungry_games/engine.lua#L160

[2015-08-13 23:21] ghost commented on #31
spawn and lobby are identical, need to change position to map

[2015-08-14 08:24] BetterToAutomateTheWorld commented on #31
Why ?
Does the spectate mod use the spawn point ?

[2015-08-16 08:30] Lymkwi commented on #27
~~Two things could explain this bug (because `survival_thirst` actually rewrite these items to reset the thirst bar when used)~~
- ~~The callback `on_use`  is blocked by a positive answer before the execution of the rewritten `on_use` function~~
- ~~Some other mod rewrites these items' `on_use` to do something else.~~

`survival_thirst` is not rewriting the two items correctly, they are not recode

[2015-08-16 11:35] BetterToAutomateTheWorld commented on #27
Ok, need to check for the next merge

Thank you for your work

[2015-08-17 07:50] BetterToAutomateTheWorld commented on #31
@crabman77
We need to test it after the merge of yesterday so please, can you test it ?

The spectator mod/stat does it work now ?

[2015-08-17 10:38] BetterToAutomateTheWorld commented on #30
This tweak in now over, interact an ingame privs are right :)

[2015-08-17 10:38] #30 closed, assigned to nobody

[2015-08-17 12:03] BetterToAutomateTheWorld commented on #6
Obani, please can yo udo this when you have time ? :)

[2015-08-17 12:26] BetterToAutomateTheWorld commented on #27
Done

[2015-08-17 12:26] #27 closed, assigned to BetterToAutomateTheWorld

[2015-08-17 14:00] ghost commented on #14
Missing "TOP 3 HUNGER" on top of pixelarts  pseudo.

[2015-08-17 17:45] paly2 commented on #11
Maybe add a line in your init.lua file, next the line 31, like this:

I do not know if that will work ...

[2015-08-17 22:01] BetterToAutomateTheWorld commented on #14
Now over

![top3](http://i.imgur.com/ZpsZccy.jpg)

Just need to write "Top 3" onto the players name !

[2015-08-17 23:03] ghost commented on #14
TOP3 writed.
just a bug with pos and number of letters not centered
 ![conv-screenshot_20150818_003712](https://cloud.githubusercontent.com/assets/7189389/9318517/7010a2b2-4544-11e5-8162-bc765761e64e.jpg)
![conv-screenshot_20150818_002814](https://cloud.githubusercontent.com/assets/7189389/9318525/800c81ae-4544-11e5-81dc-de2928c3b8e1.jpg)

[2015-08-18 07:09] BetterToAutomateTheWorld commented on #14
Not yet over because of bugs so i will keep this issue open, or it's over and i closed the issue ?

[2015-08-18 10:17] ghost commented on #14
Fixed https://github.com/MinetestForFun/hungry_games/commit/b313c2d149fe75f589940d301bc61eec5a528e82

![conv-screenshot_20150818_121217](https://cloud.githubusercontent.com/assets/7189389/9327655/ed809aa0-45a2-11e5-9a18-fbf009a88895.jpg)

[2015-08-18 10:17] #14 closed, assigned to nobody

[2015-08-18 12:28] Lymkwi commented on #11
@paly2: We already added this line, on MFF, a while ago. But maybe my regex in the irc mod wasn't correct. Let's give it a try.
https://github.com/MinetestForFun/hungry_games/commit/4ee76af7bec2c8c26c4730fd729934fe1aae2a3f

[2015-08-19 10:24] Cyberpangolin opened #32 "beginning and chests"
To reproduce:
- Start a new game
- during the small music, open a chest and take what you want
  You are not supposed to, the game has not started yet.
# trololo

[2015-08-19 11:37] BetterToAutomateTheWorld commented on #32
Yes, i've alreayd tested it, i need to change the start position of players to avoid this usebug
- [x] players start position far from spawn/chests when a game begin

[2015-08-19 14:47] BetterToAutomateTheWorld opened #33 "Sruvival lib crash"
/!\ crashed the server /!\

http://zerobin.qbuissondebon.info/?e007346b5f0c1c68#uQgJ1H1Go9N3ghA+fKglMfPpxJad8T0tsp+1myhpZn4=

[2015-08-19 20:08] Lymkwi commented on #33
https://github.com/MinetestForFun/hungry_games/commit/3367e64dde59118f74e079c7799e432efa82fe6c
Should work.

[2015-08-19 21:15] #33 closed, assigned to Lymkwi

[2015-08-19 21:45] BetterToAutomateTheWorld opened #34 "Remove flowers ABM"
We need to remove the flowers abm, it's useless !

[2015-08-19 21:48] ghost commented on #34
fixed https://github.com/MinetestForFun/hungry_games/commit/76797187e8691aa28cd54e27a2315cec0120b9c3

[2015-08-19 21:49] BetterToAutomateTheWorld commented on #32
Over, the spawn is now different from before :

[code]

Spawn 1 (6 players) : 1, 4, 7, 10,  14, 18
Spawn 2 (6 players) : 2, 5, 8, 11, 15, 19
Spawn 3 (8 players) : 3, 6, 9, 12, 13, 16, 17, 20

[2015-08-19 21:50] #32 closed, assigned to BetterToAutomateTheWorld

[2015-08-19 21:51] BetterToAutomateTheWorld commented on #34
Done https://github.com/MinetestForFun/hungry_games/commit/76797187e8691aa28cd54e27a2315cec0120b9c3

[2015-08-19 21:51] #34 closed, assigned to nobody

[2015-08-19 21:53] BetterToAutomateTheWorld commented on #11
Closed this issue because it's fixed with an old version of the irc mod

[2015-08-19 21:53] #11 closed, assigned to Lymkwi

[2015-08-20 12:22] BetterToAutomateTheWorld commented on #6
Over !
![hg_banner_final](http://i.imgur.com/eWQb9PV.png)

[2015-08-20 12:23] #6 closed, assigned to BetterToAutomateTheWorld

[2015-08-20 12:27] BetterToAutomateTheWorld opened #35 "Forum Presentation Post"
Create a forum post for the Hunger games, a simple post to present our version of this funny subgame.

With of course our website banner !

Look at the Calinou presentation for exmaple : simple and efficient.

[2015-08-20 12:53] BetterToAutomateTheWorld commented on #31
Too many bugs with the spectator mod, and players in spectator have a skin.. can block the vision or the arrows of other players, etc... this is not a good thing..
https://github.com/MinetestForFun/hungry_games/commit/c8ad2d8dd019e4464bbea5433e35e2685b034e5c

[2015-08-20 12:53] #31 closed, assigned to BetterToAutomateTheWorld

[2015-08-20 14:41] BetterToAutomateTheWorld opened #36 "Fix spwn node in the hud"
it takes 5seconds, i will do it this night...

[2015-08-20 22:09] BetterToAutomateTheWorld opened #37 "Small labyrinthe for the arena area"
- [x] Add a small labyrinthe to the arena

[2015-08-20 22:09] BetterToAutomateTheWorld commented on #36
Done

[2015-08-20 22:09] #36 closed, assigned to BetterToAutomateTheWorld

[2015-08-20 22:10] BetterToAutomateTheWorld commented on #8
Done

[2015-08-20 22:10] #8 closed, assigned to BetterToAutomateTheWorld

[2015-08-20 23:28] BetterToAutomateTheWorld commented on #35
Done => https://forum.minetest.net/viewtopic.php?f=10&t=13073#p187747

[2015-08-20 23:28] #35 closed, assigned to BetterToAutomateTheWorld

[2015-08-21 09:36] Lymkwi commented on #37
Idealy, I think it should be made out of cobble, in an area like a desert, or somewhere on the water. It shouldn't be bigger than 20*20 and have 1 floor, with no roof.
If you have any other ideas please share them.

[2015-08-21 12:01] Lymkwi opened #38 "[3d_amor] Update needed"
After a recent crash, we concluded that our actual version of 3d_armor needs to be updated.
- [x] Update 3d_armor => https://github.com/MinetestForFun/hungry_games/commit/2c1e588e47b998571ad3e9707837edd8044d16eb

[2015-08-21 12:08] BetterToAutomateTheWorld commented on #38
###### The crash logs :

[code]

[2015-08-21 14:07] BetterToAutomateTheWorld opened #39 "Dialog window"
Dialog window instead of a message wish flood the chat ?

https://forum.minetest.net/viewtopic.php?f=11&t=12829&view=unread#p184593

Maybe tweak this mod to inforamtion window instead of "kick window"

Just to say "use /vote, vote block, or vote in your inventory" when players are in the lobby and waiting for a game to start

[2015-08-21 15:33] ObaniGemini commented on #35
Nice

[2015-08-21 15:38] ObaniGemini commented on #14
Nice work

[2015-08-21 15:40] ObaniGemini commented on #6
Change
Those
Policies
DAMN IT !

[2015-08-21 15:42] ObaniGemini commented on #37
The area just under hub spawn is free. I think a big maze would be great to add there, as we can see the end and the beginning. It shall be hard because players can mark the way to the end

[2015-08-21 15:46] Ombridride commented on #37
@ObaniGemini
(you need to look at the new HG hub and re-read the issue ;))

[2015-08-21 15:46] ObaniGemini commented on #37
Ok so do has you want. I don't really want to go on the server has I don't like HG's

[2015-08-21 15:47] BetterToAutomateTheWorld commented on #6
Do something better and we will change it :)

actually, i can't create something better with my Gimp skills :/

[2015-08-21 15:47] ObaniGemini commented on #37
I've played to much on that map on a mod I don't like just to make players come on the server

[2015-08-21 15:53] Ombridride commented on #37
@ObaniGemini
I say re-read the topic because you don't understand the lobby already have a maze.

For information, the lobby is at y + 30 000, you can't see players in the arena.

This issue is for create a maze INTO the ARENA

[2015-08-21 16:01] ObaniGemini commented on #6
dafont.com

[2015-08-21 18:46] Ataron opened #40 "Textures of VOTE blocks"
@ObaniGemini wanted to change VOTE's blocks textures then i propose that :

![V](https://lut.im/MTTQ2eEz/wcW7SqSk)

but too much blue with the Sky, then I can change the background. Which color do you want ?

[2015-08-21 18:48] Lymkwi commented on #39
At the moment I can implement that into the server, but I need to remove some few things.
Here is how it would work :
- The previous Hungry Game has ended
- Players wait in the lobby
- Someone triggers the vote (with a `start_vote` command of some sort)
- This vote goes on for a certain duration (something like 2 minutes)
- If the result is a big "nay", then we shall wait until someone else uses t

[2015-08-21 18:51] Lymkwi commented on #40
(don't feel bad I tweaked the original post to show the picture directly)
It's already better than the previous "V". :+1:

[2015-08-21 19:16] BetterToAutomateTheWorld commented on #40
Year that's great in my point of view

But maybe the blue isn't a good idea, the lobby is height in the sky so players see a background in light blue...

Anyway, it's better than the actual textures :)

[2015-08-21 19:45] Ataron commented on #40
It don't answer :p : Which color do you want for the background block ?

[2015-08-21 19:48] ObaniGemini commented on #40
No, I would more see a dark-grey rework of steel block for the back. For the letters, I haven't thought about it for now

[2015-08-21 19:52] BetterToAutomateTheWorld commented on #40
For the color, i don't know sorry... The yellow was interresting because the only yellow full textured block we have in the lobby was the vote block :p

[2015-08-21 20:10] BetterToAutomateTheWorld commented on #37
Done (20*20 with 1 floor)

![laby_arena](http://i.imgur.com/nFOKjBq.jpg)

[2015-08-21 20:10] #37 closed, assigned to BetterToAutomateTheWorld

[2015-08-21 20:54] Ataron commented on #40
I did your two ones :
![vote v jaune](https://cloud.githubusercontent.com/assets/7973193/9418876/916e2f7c-4857-11e5-9ede-ed0084737bf9.png)
![vote v steel](https://cloud.githubusercontent.com/assets/7973193/9418883/9891951e-4857-11e5-8176-ddb0a425245a.png)

Je peux aussi facilement changer la couleur du V

[2015-08-21 21:28] ghost commented on #40
Le jaune est flashy, ça se voit bien,sinon un petit bleu avec lettre blanche?
Une précision, le block est lumineux.
![hungry_games_blockvote_1blue](https://cloud.githubusercontent.com/assets/7189389/9419454/1873faca-485c-11e5-8407-331ade3531a0.png)

sinon une idée pour que les joueurs aient envie de le puncher, mettre des bruits(3 ou 4) drôle aléatoire quand tu n'a pas encore voté et que tu le pun

[2015-08-21 21:36] Lymkwi commented on #39
![HUD](https://lut.im/YdzJMbjI/ano2zrhv)

I got a copy, I couldn't use rubenwardy's box texture but I put a message upon the HUD cross.
https://github.com/MinetestForFun/hungry_games/commit/5d77227f9ca0da67be3c2d6b5b4961bd4b1c9e71

[2015-08-21 22:15] ObaniGemini commented on #39
"Remember to vote using a voteblock or by typing /vote in the chat"

[2015-08-21 22:16] ObaniGemini commented on #40
@Ataron : je fais ma version et je te montre

[2015-08-21 22:16] ObaniGemini commented on #37
looks cool and pretty

[2015-08-22 07:23] Ataron commented on #40
Ok

[2015-08-22 08:14] Lymkwi commented on #39
@ObaniGemini: Indeed. That was that message players were constantely harrassed with in the chat. That's why we decided to put it in the HUD, to not flood their chatbox.

[2015-08-22 09:50] ObaniGemini commented on #39
@LeMagnesium : What I want to tell is just /vote isn't enough clear ^^
        When players see it they cannot know if it's something to type, a name,... (I mean casual players, most part of HG players )

[2015-08-22 13:03] Lymkwi commented on #39
Are you telling me that they are just dumb enough to not understand that they need to type "/vote" in the chatbox when they are told to? If they are, just kick them and wait until they are mature and intelligent enough to understand that...

[2015-08-22 13:27] ObaniGemini commented on #39
@LeMagnesium : I think you haven't met enough humans on video games

[2015-08-22 14:51] Lymkwi commented on #39
I cannot fullfil the needs of impotent people.
Either way, someone will tell them to type /vote sooner or later.
They learn to type "T" and "/vote" or they get out. Period.

[2015-08-22 18:04] BetterToAutomateTheWorld commented on #37
Thank you, try it in-game and give us a return experience ! :p

[2015-08-22 18:08] BetterToAutomateTheWorld commented on #39
Mg, i think the "/vote" way for voting is the last way we need to inform, the most important way are :

**Vote blocks** > **inventory "vote"** > type "/vote"

For a shorter alert, maybe juste tell to the players the 2 first solutions ?

PS : the way you alert seems to be very interresting :) (so the modal window to the right isn't enough interresting or too complicated for you ?)

[2015-08-22 18:12] BetterToAutomateTheWorld commented on #40
Très bonne idée les sons crabman, la plupart des joueurs étant peu agé, des petits bruits drôle serai bien ! (personnellement je verrais bien des bruit d'épées s'entrechoquant, ou d'armure ce portant, ou d'arc ce gainant, ça fait penser au combat qui approche, c'est simpa je trouve :))

Pour la luminosité des blocs, peut etre pouvons nous l'augmenter ? le serveur étant toujours en mod "jour", on n

[2015-08-22 18:18] Ataron commented on #40
J'ai présenté plusieurs version, attendons celle d'Obani puis tu choisiras.

[2015-08-22 18:27] ghost commented on #40
Enfait je pensais + a des bruits du genre "pet", des truc qui les fait rire et qui leur donne envie de puncher dedans.

[2015-08-22 18:43] BetterToAutomateTheWorld commented on #40
Err... i didn't hang the idea of "fart" when players punch a voting block, we need to create a minimum serious subgame :/

Ok @Ataron we wait for @ObaniGemini 's textures

[2015-08-22 19:57] ObaniGemini commented on #37
Don't want to play in HG. Already tried the one in the hub and it looks nice. I think this one shall not be bad

[2015-08-22 20:57] BetterToAutomateTheWorld opened #41 "Damages activated in lobby"
dans le HG, on meurt de faim / on peut ce tuer en ce tapant / de lava et chute quand une partie est en cours et que l'on est dans le lobby

[2015-08-22 22:20] BetterToAutomateTheWorld commented on #41
https://github.com/MinetestForFun/hungry_games/commit/bc1b47c937aedcd805bd8ba80baefa6090e5f8c8

Now fixed

[2015-08-22 22:20] #41 closed, assigned to Lymkwi

[2015-08-22 22:30] BetterToAutomateTheWorld opened #42 "Reset ranked players"
- [x] Add a reset of the ranked players table the first day of every mounth => https://github.com/MinetestForFun/hungry_games/commit/8ae6bec335ce512c6f7db2fcfb0405ed7c762c63
- [x] Add a line to explain that under the "HG ranked" board (actually empty space) => https://github.com/MinetestForFun/hungry_games/commit/630ed58f1a607e8c8aa114039d07c4d941f16dd8
- [x] Add a random_messages to explain that

[2015-08-23 11:58] Lymkwi commented on #39
The window on the right was not visible enough, and it was a mess to tweak the positions used in the vote mod, mainly because it was in pixels and not percents, so I started from only the hudkit and put it over the cross.

I think we should do a little test. My idea is to tweak our blocks, the inventory button and /vote. Whenever one of those is pushed, a specific message is sent in the logs. Then

[2015-08-23 12:20] Lymkwi commented on #42
I need to know when the Hungry Games server is supposed to restart to implement a sure system to flush the data monthly.
By that I mean, I need to know if the server will be running at midnight or during the first hour the first of every month.
EDIT: The best way to me to do that is to shutdown automatically the server before midnight every last day of the month, remove automatically the `player_r

[2015-08-23 12:26] paly2 commented on #37
Maybe it would make more high exterior walls, because we can jump over the walls without entering

[2015-08-23 13:00] BetterToAutomateTheWorld commented on #39
Actually, if we push one of our solutions to "vote", the message disappears, no need other tweaks.

[2015-08-23 13:02] BetterToAutomateTheWorld commented on #42
The solution is just remove the "player_ranks.txt" file before the reboot ?

If yes, i can do it in the crontab or in my reboot script.

[2015-08-23 13:05] ghost commented on #42
heu no, remove file don't remove table in game. ranked  will rewrite file with table full.

[2015-08-23 13:14] BetterToAutomateTheWorld commented on #37
i've fixed this usebug.

Now if you jump over the glasses, you can find a secret way to enter the labyrinth :)

![fixed_laby](http://i.imgur.com/b3TxxNj.jpg)

[2015-08-23 13:15] BetterToAutomateTheWorld commented on #42
So, what do we need ?

[2015-08-23 14:52] ghost commented on #42
ha ok, removing file before boot.

[2015-08-23 15:53] Lymkwi commented on #42
If the server is turned off, it will.
Shutting it down before midnight and restarting it after midnight is the best way to end properly every game, disconnect players, and then remove the data. Some entries in cron or a special if statement in the autoreboot script should be enough.

[2015-08-23 15:56] Lymkwi commented on #39
Of course, like the message was not sent to players who had already voted. If everything is fine then I close this. If you want to test my idea on statistics about what method players use, open another ticket.

[2015-08-23 15:57] #39 closed, assigned to Lymkwi

[2015-08-23 17:01] BetterToAutomateTheWorld commented on #42
Shutdown the server > Removed the file > Start the server. It's must work yes.

I think a solution in the actual lua mod code will be better :
IF the server is restarting AND the date is the first day of the month (between 4h29 and 4h40 am)
THEN removed the "player_ranks.txt" file (from the world path)

[2015-08-23 17:27] Lymkwi commented on #42
Does this look fine?
https://github.com/LeMagnesium/hungry_games/commit/0d4ebc0e8676c03c4e245822e6bd3afdc459cf39

[2015-08-24 07:22] farfadet46 commented on #40
you can make a sound by voice like "enfin !" "a voté" but if the player don't understand the french words... i think sound like medieval weapon is a good idea too :)

[2015-08-24 09:04] ObaniGemini commented on #40
OK so I have those abstract things :
- Top/Down (no animation)  https://imgrush.com/at3lo8Wkfi3h.png
- V : https://imgrush.com/H0p4PXMntASh.png
- O : https://imgrush.com/oXQTE5bbLXnE.png
- T : https://imgrush.com/c7Z3Xxwg77N1.png
- E : https://imgrush.com/C7tci-zaG4Yo.png

Enjoy and become epileptic !

P.S: try the Top/Down picture in-game, cause you might see some dark square on your Internet nav

[2015-08-24 09:09] BetterToAutomateTheWorld commented on #40
The black background is a little strange for me..

BUT your work is really great, Congratulation Obani, your version seems to be ready to an in-game implementation :D

[2015-08-24 09:10] paly2 opened #43 ""vote" chatcommand works on IRC"
If I use the command "vote" on IRC (with the "cmd" bot command), if there are more than 1 player, the command seems to work...

[2015-08-24 11:47] BetterToAutomateTheWorld opened #44 "0.4.13 upgrade (NOT FOR NOW)"
#### usefull Links

https://forum.minetest.net/viewtopic.php?f=18&t=13085&view=unread#p187887
#### Steps
- [x] Save teh actual mff-hg folder
- [x] Use self-made upgrade script
- [x] Launch the server
- [x] Check the passwords
- [x] Redo the upgrade when it will be the time to do it

[2015-08-24 12:05] BetterToAutomateTheWorld opened #45 "Need to check"
Need to check the improvments of GunShip, he will commit a huge update :

https://forum.minetest.net/viewtopic.php?f=10&t=12156&view=unread#p188086

We will discuss about the "maybe" merge of his new features

[2015-08-24 12:06] ObaniGemini commented on #45
Pourquoi ?

[2015-08-24 12:06] ObaniGemini commented on #40
Yes @Ombridride , I just wanted to make minimalism, one more time :x

[2015-08-24 13:43] Lymkwi commented on #38
https://github.com/MinetestForFun/hungry_games/commit/2c1e588e47b998571ad3e9707837edd8044d16eb

[2015-08-24 13:46] Lymkwi commented on #45
So we should keep on a eye on that thread and when his repository is updated merge it into our own one? Is that what you imply?

[2015-08-24 14:05] ObaniGemini commented on #45
No, we just need to see the new interesting thing included in future new commits. It's not about merge all repository

[2015-08-24 15:02] #38 closed, assigned to Lymkwi

[2015-08-24 15:45] BetterToAutomateTheWorld commented on #40
The animated texture is now Done

Assigned to @crabman77 the integration task

[2015-08-24 16:27] #42 closed, assigned to Lymkwi

[2015-08-24 16:38] #43 closed, assigned to Lymkwi

[2015-08-25 11:15] ObaniGemini commented on #40
Ok so has the textures are awful ( I personnaly think they would be very funny lol ), I made new one with a fixed background which was made with John Smith's texture for obsidian in his 32 px texture pack :
[Vote Blocks Album](https://imgrush.com/ae562ff67ae2)

I also added a "_Punch me_" animation to the "E" letter to notice to player they have to punch the bloc

[2015-08-25 12:25] BetterToAutomateTheWorld commented on #40
need to try it ingame (test)

[2015-08-25 13:47] BetterToAutomateTheWorld opened #46 "Add some blocks to the lobby"
Add some blocks to the lobby to avoid a 0.4.13 glitch which grant you the possibility to exit the half circle glasses made lobby...

[2015-08-25 14:25] Lymkwi commented on #46
What is that glitch exactly? How could it make players able to get out of the lobby area?
(by the way any client hacked and recompiled can get out of the lobby just as they can avoid being hurt.. So it won't be fixable for everybody but the vast majority of our players)

[2015-08-25 16:40] ObaniGemini commented on #46
@LeMagnesium : 0.4.13(-rc?) client allows to go threw roofs by sneaking + jumping

[2015-08-25 18:53] BetterToAutomateTheWorld commented on #46
Fixed i think, i closed the issue.

![fix glitch 0.4.13](http://i.imgur.com/EYbVKbS.jpg)

[2015-08-25 19:55] ObaniGemini commented on #46
Doesn't work at all

[2015-08-25 21:09] BetterToAutomateTheWorld commented on #46
yes, don't know how to fix it without tweak the race...

[2015-08-25 21:10] Ataron opened #47 "Some bugs after the merge"
After the merge there are some bugs :
- [x] We don't lost our armors after the end of a game . => https://github.com/MinetestForFun/hungry_games/commit/ebbf19721ae51b7d44c8e16c9a29405f845c0e05
- [x] A unknow node spawned into chests. (maybe mithril armor i didn't see any in 10 games)
- [x] If the unknow isn't the mithril armors, there are no more.

[2015-08-25 21:56] ObaniGemini commented on #46
Make a wall of two blocks high and make the roof one block higher. I will change race for it doesn't annihilate all the dificulty. Just send me a screen of the wall please for I can see what I have to modify

[2015-08-25 22:09] ghost commented on #47
mithril armors is enable only if there is moreores mod.

this commit has erased all better textures :( https://github.com/MinetestForFun/hungry_games/commit/2c1e588e47b998571ad3e9707837edd8044d16eb

[2015-08-26 07:39] BetterToAutomateTheWorld commented on #47
@LeMagnesium => many mistakes in your 3d_armor mod update :
- For the armors wich isn't lost, that's not a very important problem BUT, we need to check why there aren't removed when players spawn into the lobby
- The unknow is the mithril armor pieces...
  So need to comment the mod moreores needs to display/use in-game this armor because of we don't need the craft recipe, just the chests loots.
-

[2015-08-26 10:01] BetterToAutomateTheWorld commented on #44
Encounter problems with the android client version, client can't conenct to the server anymore !

[2015-08-26 10:04] BetterToAutomateTheWorld opened #48 "Filter the names of our players"
We need to add the same names filter than in MFF for the MFF-HG.

The number of fake pseudo with MC youtubers are important...

[2015-08-26 10:30] ElementW commented on #48
@Ombridride What's the issue with fake MC youtubers nicknames? MC YTers are a pile of shit anyway (especially 14 years olds & french ones -- and to the exception of very few ones), and people that believe they are playing on our server are absolute dumb-minded sheeple that could be exploited in way worse ways than this.

[2015-08-26 10:46] Cyberpangolin opened #49 "player skins?"
It could be a good feature to add skins to the players, for an easier war of recognition. And for fun. i mean, do I really have to put arguments here? :D

[2015-08-26 10:56] Cyberpangolin commented on #48
Here is a "small argument":
https://fr.wikipedia.org/wiki/Usurpation_d'identit%C3%A9#En_France

Something else: as YTer, I don't want to see people using my username to make something in my name. It's totally rude. Sure famous MCers don't want it too.

Maybe we could add a message to banned YTers nicknames:
"Si tu es vraiment le youtuber que tu prétends être, alors contacte Cyberpangolin via Youtu

[2015-08-26 10:59] ObaniGemini commented on #49
I don't understand at all what you mean

[2015-08-26 11:17] Ataron commented on #49
He wants skins to recognize who is who.

[2015-08-26 11:33] Lymkwi commented on #49
~~Just agree to choose an unique skin. We already have `u_skins`. We don't need `player_textures`, nor any other skin mod, nor a reservation system. Pick an unique one and stick to it.~~
Ok, wrong server.
Why not. Player textures or simple_skins should work.

[2015-08-26 11:38] Lymkwi commented on #48
The amateur ones (14yo squeaky voice teens, I'm looking at you), surely, some other may really be into it : like @Cyberpangolin.. His arguments is the most important one to me, and the system we added to MFF is pretty well made. We should just :
- Add the message in both french/english
- Ban only 'professionnal' YTers (if that's even a thing) nicknames, not the amateur ones

[2015-08-26 11:43] Lymkwi commented on #47
@Ombridride : How should I know that a texture is from us? How should I know you prefer it upon the one from the original repository? I will remove all my modifications regarding textures and let **you** merge them. I have absolutly no opinion about them and I can't choose between two of them.
Otherwise, I'm fixing everything.

[2015-08-26 12:37] Lymkwi commented on #47
https://github.com/MinetestForFun/hungry_games/commit/ebbf19721ae51b7d44c8e16c9a29405f845c0e05

[2015-08-26 13:19] #47 closed, assigned to Lymkwi

[2015-08-26 13:22] BetterToAutomateTheWorld commented on #48
Don't translate it in french, just english, it's an internaionnal server.

You understand well the idea @LeMagnesium, you can do it if you want, it's just a copy/paste from the MFF repository

[2015-08-26 13:55] BetterToAutomateTheWorld commented on #40
The vote blocks are now in-game, than kyo ueverybody for your work !

I thank especially @ObaniGemini for your work and textures.

[2015-08-26 13:55] #40 closed, assigned to nobody

[2015-08-26 13:56] BetterToAutomateTheWorld commented on #44
We will upgrade again in 0.4.13 when the most of our players will use the 0.4.13 Android client version.

[2015-08-26 13:57] Lymkwi commented on #48
https://github.com/MinetestForFun/hungry_games/commit/deeed8704451afd177dceb895931334ca4134314

[2015-08-26 13:57] #48 closed, assigned to Lymkwi

[2015-08-26 14:09] Lymkwi commented on #49
After a discussion we had with @Ombridride, we agreed to create a mod that would not exactly do what you wanted. It would give a specific skin to players using that system :
- The first 3 players (according to ranks) would have a fancy skin with a cap
- The players ranked 4th to 10th would have a second skin, different from the default one
- The other players would have the default skin

We chosen

[2015-08-26 15:50] BetterToAutomateTheWorld commented on #49
#### Skins chosen

1 to 3 : Link
![link_skin](https://lut.im/5Qp5dhY3/yDTqJr0z)
4 to 10 : Altier (/ Altair)
![altair_skin](https://lut.im/qDrHq5sy/2t8InJVS)
11 and more : Defaut skin
![default_skin](https://raw.githubusercontent.com/MinetestForFun/hungry_games/605100e52cf34933dc8ab1524abd7477bba5cb25/mods/playermodel/models/character.png)

Need to code this now !

[2015-08-26 16:48] Lymkwi commented on #49
Have you pushed the textures yet?

[2015-08-26 18:02] BetterToAutomateTheWorld commented on #49
No, they still in the u_skins mod of MFF repository

Ask Ataron for the texture number/complet name if you want to extract them

[2015-08-26 18:25] Ataron commented on #49
I gave him the numbers.

[2015-08-27 12:09] BetterToAutomateTheWorld commented on #46
Fixed by @ObaniGemini, Thank you !

[2015-08-27 12:09] #46 closed, assigned to BetterToAutomateTheWorld

[2015-08-27 12:09] BetterToAutomateTheWorld commented on #49
Done https://github.com/MinetestForFun/hungry_games/commit/7583ccf477c03c56458eeaf881b849cbbe41489b

I closed the issue.

[2015-08-27 12:09] #49 closed, assigned to Lymkwi

[2015-08-27 13:10] BetterToAutomateTheWorld opened #50 "Tweak the lobby"
#### Tweak the lobby to be lighter
- [x] move the labyrinth far away
- [x] create 4 room for the "Simon" game of crabman

[2015-08-27 13:14] ObaniGemini commented on #50
Why move the labyrinth far away ?
Don't we just need to put some materials on it's roof ?

[2015-08-27 13:16] BetterToAutomateTheWorld opened #51 "Server crash"
[code]

[2015-08-27 13:27] Lymkwi commented on #51
https://github.com/MinetestForFun/hungry_games/commit/572fb1e9067880fc9d885a8d8d582f1451780f7a

[2015-08-27 13:27] #51 closed, assigned to Lymkwi

[2015-08-27 15:14] BetterToAutomateTheWorld commented on #50
BECAUSE of avoiding too many nodes into the same place, this is a **simple** way for **avoid 10FPS for slow clients**

[2015-08-27 15:22] ObaniGemini commented on #50
Ok. And Why should we create 4 rooms for simon game ? should we not just put them the ones next to the others ?

[2015-08-27 15:24] BetterToAutomateTheWorld commented on #50
Because of the **sounds** they emit ;)

And if it's in rooms, a little far from the lobby spawn, the chance of a player that sticks to the game nodes are reduce (if a player is sticked to the game block, you can't push it...)

[2015-08-27 16:00] BetterToAutomateTheWorld commented on #45
https://forum.minetest.net/viewtopic.php?f=50&t=13114&view=unread#p188401

[2015-08-28 09:21] Lymkwi commented on #45
We need to merge that as soon as possible, or maybe, we should even replace our current subgame with this one, then reapply all our commits.

[2015-08-28 09:23] BetterToAutomateTheWorld commented on #45
The merge will be a better idea because our subgame isn't very far from his subgame

[2015-08-28 09:58] ObaniGemini commented on #45
Should we keep boats ?? With all the work we've done, I don't think a merge would be a very good idea :p We should just discuss about what should be implemented and what shouldn't. Am I right ? Or is he so far from us ?

[2015-08-28 12:36] BetterToAutomateTheWorld commented on #45
#### A ne pas merger
- [x] 3d_armor (version que l'on a modifié et amélioration des textures)
- [x] carbone_mobs (on le garde pour l'instant)
- [x] carbone_torchs
- [x] farming (version que l'on a supprimé car fusionné dans food)
- [x] food (version que l'on a modifié, pour y incorporé farming, mais aussi pour que les liquides redonne de la soif)
- [x] sprint (ajout à nous)
- [x] Food (version que

[2015-08-28 15:39] BetterToAutomateTheWorld opened #53 "Add a value to the ranked board"
We need to displayed the "ratio" for information purpose on the ranked board.

Because this information is more useful for define the level of the ranked players

The ratio is calculated with : **maxnumber_play_game divided** by **number_win_game**

[2015-08-29 11:37] Lymkwi commented on #53
"maxnumber_play_game" does not mean anything. I personally think that what you meant is either :
- `nb_wins`/`nb_games`
- or `nb_wins`/`global_amount_of_games_ever_player`

So far I've commited the first option. I'm gonna have to implement a global counter if you want the second option.

@crabman77 decided to use a percentage instead of a ratio. Appart from that, everything was correctly commited.

[2015-08-30 13:36] ghost commented on #53
Fixed https://github.com/MinetestForFun/hungry_games/commit/fc7859581f6d9c182cbe607c03257dcff283c420
and fixed better info name https://github.com/MinetestForFun/hungry_games/commit/c94cfdc926a2b45b91a05aeb7bdde59a61acc02e

[2015-08-30 13:41] #53 closed, assigned to nobody

[2015-08-30 14:33] Ataron opened #54 "Apple"
We can put apples on the map and destroy sources like lava or water with that.
@paly2 destroyed one like that accidentally.

[2015-08-30 14:36] Lymkwi commented on #54
We should remove apples generated in trees, and make those already generated unbreakable.
EDIT: Err, no. Maybe you should just remove the apples from the lobby. (forget about the game area, it's not that important, or if you mind that too, remove all apples.)

[2015-08-30 14:53] Ataron commented on #54
It's ingame that @paly2 broke a lava source.

[2015-08-30 14:53] ObaniGemini commented on #54
And players have also fun by destroying water sources in races ..........

[2015-08-30 14:56] Lymkwi commented on #54
We have to prevent players from placing apples. They just need to eat them.
EDIT: There is no possible way to avoid placing a node.. My idea would be to create an unplacable item, and a node. When digging the node, you would get the unplacable item.
Or even simpler, turn apples into items instead of nodes.

[2015-08-30 15:07] Lymkwi commented on #54
https://github.com/LeMagnesium/hungry_games/commit/93aa18c40f9082efbdf3565448077ab7a9ede2a4
Needs reviews.

[2015-08-30 16:25] ghost commented on #54
Fixed https://github.com/MinetestForFun/hungry_games/commit/dd6436209c4ac81504c93ddfebc1b23e82154835

[2015-08-30 16:25] #54 closed, assigned to nobody

[2015-08-30 17:09] BetterToAutomateTheWorld commented on #54
Maybe also add vessels items type ?
(empty drink, water glass, etc)

[2015-08-30 17:29] BetterToAutomateTheWorld opened #55 "Server crash"
[code]

[2015-08-30 17:49] ghost commented on #55
Fixed and on the server  https://github.com/MinetestForFun/hungry_games/commit/28880fefbdff8d2e8423d1be6cb55fbe857c0bc8

[2015-08-30 17:50] #55 closed, assigned to nobody

[2015-08-30 20:39] BetterToAutomateTheWorld commented on #50
Everything is done, closed the issue

[2015-08-30 20:39] #50 closed, assigned to BetterToAutomateTheWorld

[2015-08-30 22:22] ghost opened #56 "improve sound, convert stereo to mono to play positional"
To play positional sounds, mono must be used.

http://dev.minetest.net/minetest.sound_play

**subgame**
- [x] 3d_armor
- [x] bucket
- [x] builtin_item
- [x] carbone_mobs
- [x] carbone_torches
- [x] creative
- [x] default
- [x] doors
- [x] fire
- [x] flowers
- [x] food
- [x] gauges
- [x] glass_arena
- [x] hudbars
- [x] hungry_games
- [x] inventory_plus
- [x] irc
- [x] irc_commands
- [x] item_drop
-

[2015-08-31 00:23] ghost commented on #56
Fixed 1commit https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/076fb5fc15ac1e7f9cf90b83420d8222243016a5
Fixed 2commit https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/d187ee5b7d9eb325086e8ae7bb75cc7fc220850c

before 67 éléments, total 767,4 ko
after  67 éléments, total 549,4 ko

[2015-08-31 00:23] #56 closed, assigned to nobody

[2015-08-31 07:54] BetterToAutomateTheWorld commented on #56
this is amazing, great job !

[2015-08-31 21:14] BetterToAutomateTheWorld opened #57 "Ajout d'un mod"
#### Ajout du mod [itemframe] extrait de [homedecor_modpack]

C'est légé et ça permettrait d'expliquer de façon concise et illustré quelle épée est la meilleure et quelle armure est la meilleure...

Actuellement, tous les joueurs croient que la meilleure épée c'est la **bronze** ou la **mese** lol...

Ah, et ils ne lisent pas (ou très peu) les _random_messages_ expliquant quels matériaux sont les

[2015-09-01 07:46] ObaniGemini commented on #57
Mese je suis d'accord mais bronze ? 0.o

[2015-09-02 10:45] Lymkwi commented on #57
J'ai pris l'itemframes que l'on a sur MFF, si tu veux enlever des nodes dedans dis-le.
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/bc23f52a8be9453e375ebdffc80cd881158824f5

[2015-09-02 11:53] BetterToAutomateTheWorld commented on #57
Oui, tout enlever sauf le panneau/tableau à fond blanc ;)

[2015-09-02 14:26] Lymkwi commented on #57
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/c78f89d752887ec05a09745a6b9f140e09e895bd

[2015-09-02 14:26] #57 closed, assigned to Lymkwi

[2015-09-03 18:22] Lymkwi opened #59 "Clean Update of our subgame"
#### Needs update
- [x] bucket =>  https://github.com/LeMagnesium/hungry_games/commit/b7234d9242c1552247c2c7c1f97de494e5cc6eb7
- [x] builtin_items (no changes made)
- [x] default => https://github.com/LeMagnesium/hungry_games/commit/74913caf67d850928fbc5d8aaf9fd4c818fea8ab
- [x] doors => https://github.com/LeMagnesium/hungry_games/commit/a1975051b575c70d085254f24c303c397654b0af
- [x] fire => https

[2015-09-04 12:36] BetterToAutomateTheWorld opened #60 "Add the 32px textures for remaining armors"
Add the 32px textures for remaining armors from summerfields modpack, don't forget do resized it properly !

Also for the MFF(origin) server !

[2015-09-04 15:54] ObaniGemini commented on #60
the 16px one ?

[2015-09-04 18:54] Ombridride commented on #60
Ask this kind of question on the IRC please @ObaniGemini, it's not a junk thread here :D
And your question is off topic, all of the information you need are in the issue (or in the title)...

So, i removed your answer.

[2015-09-12 14:33] BetterToAutomateTheWorld commented on #60
Can you do the same thing you did with MFF server ? (now for the HG)

[2015-09-12 14:34] BetterToAutomateTheWorld commented on #45
Started in an another issue, so closed this issue.

[2015-09-12 14:34] #45 closed, assigned to Lymkwi

[2015-09-12 20:39] Cyberpangolin opened #61 "forbidden_names.txt is not working correctly??"
As you can see here, we have a player in the hunger games with the name of MrBboy45.
![capture du 2015-09-12 22 25 19](https://cloud.githubusercontent.com/assets/12512762/9833621/8332d8fc-599d-11e5-858f-13476a08ad91.png)

the bad thing is: this name is in forbidden_names.txt .
I tried with Siphano , I am not allowed to connect. this name is forbidden.
I tried with fukano and I could join
I tried w

[2015-09-12 21:07] BetterToAutomateTheWorld commented on #61
It's useless to try it on another server, this is the same mod.

Thank you for your report, we will investigate and fit it

[2015-09-13 11:18] Lymkwi commented on #61
I can't reproduce it on localhost, I'm blocked with every blacklisted name, even when reproducing the same combination you used.

[2015-09-13 20:46] Lymkwi opened #62 "Regenerate health/hunger/thirst in the lobby"
A peace area has already been placed upon the lobby area, we just need to regenerate players when they're in it so that it would reduce their ways to die when "spectating".

[2015-09-13 21:10] #60 closed, assigned to nobody

[2015-09-14 18:48] #62 closed, assigned to Lymkwi

[2015-09-15 10:26] Lymkwi commented on #61
Update: I tested everything I could on my local server, the only way it doesn't work is that forbidden_names.txt is not properly written on the server's world directory and misses a lot of names.
EDIT: **The update scripts never copied `forbidden_names.txt`, we have an old version**

[2015-09-15 10:40] Lymkwi commented on #61
(just as a security I let this open until the next merge)

[2015-09-18 15:20] BetterToAutomateTheWorld commented on #44
Upgrade done and everything is OK !

[2015-09-18 15:20] #44 closed, assigned to BetterToAutomateTheWorld

[2015-09-18 18:02] Lymkwi commented on #61
Fixed.

[2015-09-18 18:02] #61 closed, assigned to Lymkwi

[2015-09-23 13:39] BetterToAutomateTheWorld opened #63 "Add buildings to the arena again"
#### We need to tweak a little more the arena
- [x] I think about a big building, maybe on the middle of the map, because for the moment, they haven't big buildings, just small (or maybe medium buildings) ! we can imagine a buildings with traps like cactus ground, or invisible blocks, of maybe a race/jumping puzzle, or lava falling, etc... This will be the place for challenge BUT with high reward

[2015-09-23 14:33] ObaniGemini commented on #63
I would really appreciate an ascension tower, with traps and races getting harder and harder.

[2015-09-24 09:56] Lymkwi commented on #59
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/04f6c2f253278e30627b28b3318be5d027ba42a7

[2015-09-24 09:56] #59 closed, assigned to Lymkwi

[2015-09-26 16:54] BetterToAutomateTheWorld opened #64 "Digged nodes in the lobby"
Some nodes (arena_glasses) in the Lobby has been digged, it's very strange, this nodes are unbreakable !

I don't know how players can do this ! Oo

[2015-09-26 21:17] Lymkwi commented on #64
The first way for it to be possible that comes to my mind is a hacked client. Otherwise, that's impossible.

[2015-09-27 20:27] BetterToAutomateTheWorld opened #65 "MFF-HG crashs"
#### MFF-HG crashs

(be carful, it's before HG+)

[code]

[code]

[2015-09-27 20:38] #65 closed, assigned to Lymkwi

[2015-09-29 17:49] Ataron opened #66 "Some spawn's chest didn't refill"
I spawned 3 time under the glasse dome and 1 time on the third spawn and all the chests here were empty. The others chests out ot the spawns had items.
EDIT: Apparently after something like 1minute chests are refill

[2015-09-29 18:42] Lymkwi commented on #66
Nothing to be done here, it's the new behavior of the game.

[2015-09-29 18:42] #66 closed, assigned to BetterToAutomateTheWorld

[2015-09-30 19:21] BetterToAutomateTheWorld commented on #64
The rollback check return me nithing in 1 000 000 seconds earlier, so closed the issue...

Surely a modified client yes...

[2015-09-30 19:21] #64 closed, assigned to BetterToAutomateTheWorld

[2015-10-01 09:34] BetterToAutomateTheWorld opened #67 "Forum post"
Add a post to the forum in our "server presentation" for advice about the new HG+ merge

and new map (when it's done)

[2015-10-01 18:55] BetterToAutomateTheWorld opened #68 "Add xban2 mod"
Add xban2 mod

[2015-10-01 19:18] #68 closed, assigned to Lymkwi

[2015-10-02 16:40] BetterToAutomateTheWorld opened #69 "Reduce the refill of chests time"
@LeMagnesium

After the merge of the server which was 10 minutes ago => the chests refill isn't faster, it's the same refill time compared to earlier !

[2015-10-02 17:15] BetterToAutomateTheWorld commented on #67
Done.

https://forum.minetest.net/viewtopic.php?f=10&t=13073&p=193367#p193367

[2015-10-02 17:15] #67 closed, assigned to BetterToAutomateTheWorld

[2015-10-02 18:04] Lymkwi commented on #69
I could not manage to find the way refill worked, nor how to modify the time of the first refill after the game started, it's hardcoded in hungry_games/engine.

[2015-10-02 19:29] ghost commented on #69
fixed https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/235fa9ad657b97d37821459847d4f9b39166a089
and https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/4ace504a755a80e45745cd8748e85f7fda10e4a1

[2015-10-02 19:29] #69 closed, assigned to nobody

[2015-10-02 21:32] BetterToAutomateTheWorld commented on #69
Thank you @crabman77

Can you confirm me in this way chests are deleted and after refilled ?

[2015-10-02 21:48] ghost commented on #69
yes the chest are deleted, and refilled instantly.
but during the game, they are refilled without being deleted before, it may be a problem now delete them?
 https://github.com/MinetestForFun/server-minetestforfun-hungry_games/blob/master/mods/hungry_games/engine.lua#L83

[2015-10-02 22:00] BetterToAutomateTheWorld commented on #69
Yes, it may be a problem, during the game, it's better to delete -> refill the chests

For the "instantly delete/refill" at the start of the game it's not good, we need to wait at least 5 or 10sec for a refill, before it was 30sec, so it was a really to big amount of time

This refill delay is for avoid an usebug, players can't take items from chests before the start of the game with it (you know,

[2015-10-03 08:28] Lymkwi commented on #69
There was no way for us to know how much time had to elapse between the moment the grace period started and the moment chests refilled. Random_chest was litterally doing 20 calls every 0.5 seconds, spending a random amount of time refilling. I can now add a `minetest.after` before calling the chest refill to put 7 seconds to wait for after grace period started.
I will also try to find a way to use

[2015-10-03 09:04] Lymkwi commented on #69
Okay, so, after I dug a bit into random_chests' code, I found out that I could simply delay the refill to the end of prestart. So now, chests are filled at the first second of the grace period.
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/f2aeb16de5cb259abbe17d59399202e782feac47

If you want to modify that you just need to add `+n | -n` after `hungry_games.countdown`

[2015-10-11 20:19] BetterToAutomateTheWorld opened #70 "Crash of the server"
#### Maybe already fixed because the onyl crash i find was a very old crash

[code]

[2015-10-11 20:32] Lymkwi commented on #70
Very old, no, already fixed, yeah, surprising, also.

[2015-10-11 20:33] #70 closed, assigned to Lymkwi

[2015-10-21 20:04] BetterToAutomateTheWorld opened #71 "Interdir de poser des pommes"
Interdire de poser des pommes avec le clique droit !!!

![apple_bug](http://i.imgur.com/Jn17pEZ.png)

[2015-10-21 20:48] #71 closed, assigned to nobody

[2015-10-23 17:44] BetterToAutomateTheWorld opened #72 "Add the spikes mod"
Because of the needs you have for parkours/traps buildings, add this mod :)

[2015-10-24 10:53] ObaniGemini commented on #72
And maybe add trap grass too ?

[2015-10-24 12:18] Lymkwi commented on #72
It's in the same file; I would add both.

[2015-10-24 12:21] #72 closed, assigned to Lymkwi

[2015-10-27 21:57] BetterToAutomateTheWorld commented on #63
Done.

[2015-10-27 21:57] #63 closed, assigned to ObaniGemini

[2015-11-09 15:01] BetterToAutomateTheWorld opened #73 "GunshipPenguin's version of HG 2.0"
Have a look at the GunshipPenguin's version of HG 2.0 and merge what we need

https://github.com/GunshipPenguin/hungry_games_plus/commits/master

[2015-11-10 19:52] Lymkwi commented on #73
See https://github.com/MinetestForFun/server-minetestforfun-hungry_games/issues/74.

[2015-11-21 19:40] BetterToAutomateTheWorld opened #75 "Wuzzy bug report from the forum MFF-HG thread"
From forum thread, Wuzzy says :

[code]
- [x] Add the Shift+click instant wear feature from Hungry Games Plus
- [x] Add a random message to inform our players about this feature https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/7d4b1a0b9901f1ee59e9735a773e09bb32a9ecdb
- [x] Our actual putted chests can't use the feature **shift+click** because they need to be removed/repu

[2015-11-21 19:56] Lymkwi commented on #75
~~List rings => https://github.com/MinetestForFun/server-minetestforfun-hungry_games/pull/74~~
List rings are implemented; but the chests' formspec were not updated since they were placed before we introduced those list rings.

[2015-11-21 21:18] Lymkwi commented on #75
Forceful game start timer : https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/95908ec89074cca055f4bca1f0b63e7b78ead325

[2015-11-21 21:57] Lymkwi commented on #75
![](https://lut.im/B7Rgx6y5Z2/09myKfu8xm5qX273)

https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/8fccf2878b02cc707c2ed29c191c61b6a5c4f96a

[2015-11-21 22:11] Lymkwi commented on #75
And finally
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/c4014f1b7963d0d83a94e38af188bb7c1a81dbc0

[2015-11-21 22:12] #75 closed, assigned to Lymkwi

[2015-11-21 22:18] ObaniGemini commented on #75
Epic productivity 0.o

[2015-11-22 11:04] ObaniGemini opened #76 "Remove useless spikes from parcours"
Some people used crafts to troll on the parcours. Can we remove them ?
- [x] Remove crafts https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/4329ac35e58f4b5c449918f2d2ff431e25bc78fd
- [x] Remove useless ones from map

[2015-11-22 11:07] BetterToAutomateTheWorld commented on #76
Thank you for the report, and thank you for the craft recipe removal :)
We will removed the useless spikes soon

[2015-11-22 11:46] BetterToAutomateTheWorld commented on #76
I removed all useless/putted by usebug (or our mistake to not removed the craft recipe) spikes in the black tower :)

[2015-11-22 11:47] #76 closed, assigned to BetterToAutomateTheWorld

[2015-11-22 13:25] ObaniGemini commented on #76
Need to merge ASAP, trollers could continue to do that while it's not done.

[2015-11-22 16:52] Lymkwi commented on #73
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/f6bdf13c5cb897839d101e61b5a3971692b26537

[2015-11-22 16:52] #73 closed, assigned to Lymkwi

[2015-11-23 15:18] BetterToAutomateTheWorld opened #77 "No Bread slices in chests ?!"
I didn't see "Bread Slice" in chests since a very long time (3 or 4 months), I think this drop is just not anymore on the chests random list loots, that's not a great thing...

I done the Bread Slice texture for nothing :(

Need to re-add it to the chests loot :D !

[2015-11-23 19:47] BetterToAutomateTheWorld opened #78 "Irrlicht / OpenGL error messages when joining the server"
#### Irrlicht / OpenGL error messages when joining the server

![error_when_enter_the_server](http://i.imgur.com/TcoTVW9.png)

[2015-11-23 19:59] Lymkwi commented on #78
I don't get such errors on local nor online on the server. This is only your client.
We can't do anything for that, if you want to, report this obviously core-related issue to Minetest's repository.

[2015-11-23 20:17] BetterToAutomateTheWorld commented on #78
I will report it when i have more time

[2015-11-23 21:08] Lymkwi commented on #77
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/5be861125e4f2c4123a953c00cb23c3e0a4edd22

[2015-11-23 21:08] #77 closed, assigned to Lymkwi

[2015-11-24 18:51] #78 closed, assigned to BetterToAutomateTheWorld

[2015-12-24 15:20] BetterToAutomateTheWorld opened #79 "Spectator mod (jp/kilbith version)"
#### Presentation

A simple mod allowing you to watch and continuously follow the other players in their 3rd person view.
You're invisible and undetectable for the players when you're in this mode.

Can be useful for admins or moderators in their task of monitoring.

Requires the privilege "watch".

Commands :
- /watch <player name>
- /unwatch (get back to your initial position)
#### The ideas

Th

[2015-12-25 20:19] Lymkwi commented on #79
I recall there is a spectate function in Hg which we commented. However, this one allows players to choose when they want to watch.
About the places where it can be used : we can use the spawn mod's spawn names for that.
About the different means of activation : blocks, why not, aliases, meh, but the inventory : doesn't it start to be a bit bloated from all the buttons/tabs we add?
About the forms

[2015-12-25 23:02] BetterToAutomateTheWorld commented on #79
The spectator mod actually in HG is totally bugged and not interesting at all

Command aliases because the initial command /watch /unwatch isn't really interesting, i think /spectate /unspectate should be better, maybe im wrong ? anyway an aliases for this commands isn't a problem in the HG subgame

Inventory tab because we know since a little amount of time, players in subgame wants something eas

[2015-12-29 14:35] Lymkwi commented on #79
I don't see any problems about players watching each other in the lobby. I've added a group of calls to `spectator.unwatching` to detach all players who are being teleported to the arena. Thus, considering that there is no bug nor problem with watching someone else in the lobby, and that disallowing it would imply adding tons of loops and calls to the engine to check privileges and spawn areas, I

[2015-12-29 14:59] BetterToAutomateTheWorld commented on #79
I create this eyes if you want them :

64px
![eye_64x64](https://cloud.githubusercontent.com/assets/8619233/12036303/fa36269c-ae44-11e5-8298-856acafe24cf.png)

32px
![eye_32x32](https://cloud.githubusercontent.com/assets/8619233/12036304/fa59a8f6-ae44-11e5-95f8-c21e5b6d8248.png)

Or you can tweak them, the eyes pixel art is great :)

For the "spectate players" feature for players in the lobby, no

[2015-12-29 15:29] Lymkwi commented on #79
It's only my personal opinion but I prefer those eyes you created rather than my 16*16 poorly drawn pixel texture. Anybody else want to express their opinion about it?

[2016-01-09 21:20] BetterToAutomateTheWorld opened #80 "Bulles et coeurs"
![img](http://i.imgur.com/4jO2FuZ.png)

bulles et coeurs ré-apparaissent parfois sur le HG, peut etre du au fait que je sois admin ou au fait que je sois passé en spectator ...

[2016-01-10 12:44] Lymkwi commented on #80
If you managed to watch while playing then yes, that's because you're an admin, thus you always interact and ingame, spectator thinks you're not playing, it lets you go in spectator mode, and when you're back in playing mode it can't handle it properly.

[2016-01-10 13:46] BetterToAutomateTheWorld commented on #80
Yes, i wonder it will be only for the admin

I closed the issue if it's the case

[2016-01-10 13:46] #80 closed, assigned to BetterToAutomateTheWorld

[2016-01-21 20:21] Lymkwi commented on #79
I think I'm done. If you're satisfied with the features, you can close this issue.

[2016-01-21 21:15] BetterToAutomateTheWorld commented on #79
It seems perfect to me, really good job @LeMagnesium !

Maybe it will interest @kilbith or  @GunshipPenguin ?

Closed the issue.

[2016-01-21 21:15] #79 closed, assigned to Lymkwi

[2016-01-22 10:54] BetterToAutomateTheWorld opened #81 "Crash"
[code]

[2016-01-23 11:29] Lymkwi commented on #81
~~There isn't any hint about the location/origin of this coordinate. It could be a bug inside the engine.~~
EDIT: Found it.

[2016-01-23 11:51] #81 closed, assigned to Lymkwi

[2016-01-23 18:46] BetterToAutomateTheWorld commented on #81
good job

[2016-01-26 19:06] BetterToAutomateTheWorld opened #82 "spectator small bugs"
- [x] when you use the random spectator button, you can random pick the player you already watch (example : p1 and p2 are ingame, p3 watch p1, p3 watch p1 and use the random button, p3 randomly re-spectate p1 ) => https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/556e716d78787175115cb35b8e6ced4af2e83211
- [x] The spectated players have multiple health bar because when you

[2016-01-26 19:18] BetterToAutomateTheWorld opened #83 "hearth bar problem"
I reported this bugs with my admin account, but we hoped it was only on admin account, so i can say no with this report...
![hearth bar problem](http://i.imgur.com/Tjj3fqa.png)

[2016-01-27 17:02] Lymkwi commented on #82
I added ways of removing gauges and tweaked the random spectation function.

[2016-01-27 17:02] #82 closed, assigned to Lymkwi

[2016-01-30 11:30] Lymkwi commented on #83
Somehow, I still believe this shouldn't happen ; the only source possible for the bug is this :
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/75d58e813ae3663e51ea24783553861ecf12e13d

[2016-01-31 22:27] BetterToAutomateTheWorld opened #84 "months of game_time (max 8)"
[game_time](http://i.imgur.com/FOnIVMr.png)

Bonne nouvelle, le **months of game_time** est resté à 3 suite au jour ou le serveur n'a pas booté correctement @gravgun

(le script de reboot en boucle à du envoyé du curl à l'essai de lancement du serveur, je suppose)

C'est juste un ticket informatif, je le clos

[2016-01-31 22:29] #84 closed, assigned to ElementW

[2016-02-01 08:34] ObaniGemini commented on #84
Ça signifie que les temps de jeu n'ont pas été perdus ? Ou je comprends mal ?

[2016-02-01 08:50] BetterToAutomateTheWorld commented on #84
Le classement du serveur est lié à un score qui est calculé selon certain critères, le critère game_time s'incrémente de 1 chaque mois et à un max de 8, il est important de le garder à 8 car même sans joueurs, ce critère fait monter le serveur dans la liste des serveurs.

Suite à la migration(canada) nous avons perdu nos scores de game_time ce qui nous à grandement descendu dans la liste des serve

[2016-02-02 21:29] BetterToAutomateTheWorld commented on #83
Do you think it's fixed with your latest commit ?

[2016-02-02 22:19] BetterToAutomateTheWorld commented on #83
I closed the issue, normally it's fixed.

[2016-02-02 22:19] #83 closed, assigned to Lymkwi

[2016-02-23 23:10] BetterToAutomateTheWorld opened #85 "Server crash"
[code]

[2016-02-24 09:50] BetterToAutomateTheWorld commented on #85
Linked to the issue https://github.com/MinetestForFun/server-minetestforfun-hungry_games/issues/81

Well, not fixed after the fix commit :(

[2016-02-24 12:47] Lymkwi commented on #85
We literally do not know what caused this. We know it's a function receiving a position table and manipulating it, most likely an engine function.
There is literally more than a hundred of lines matching those criteria across the repo..

[2016-02-24 22:02] ghost commented on #85
fixed https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/d5da9b38cac2ed02697e2ae477b7008097728c15

[2016-02-24 22:11] BetterToAutomateTheWorld commented on #85
It will interest @kilbith
This crashes was from the spectator mod

Great job @crabman77

[2016-02-24 22:20] kilbith commented on #85
Vous utilisez une version modifiée de spectator_mode, donc je sais pas trop quoi dire.

D'ailleurs je ne maintiens plus ce mod depuis un moment.

[2016-02-24 22:46] BetterToAutomateTheWorld commented on #85
@kilbith
Bien que nous ayons une version modifié, ton mod à bien les minetest_after : https://github.com/minetest-mods/spectator_mode/blob/master/init.lua#L36

Libre à toi d'y fix ou non, nous partageons simplement notre découverte/fix ...

[2016-02-24 22:59] kilbith commented on #85
Oui c'est pas pour rien que j'avais mis les `minetest.after`, sans eux le joueur ne retourne occasionnellement pas à sa position initiale (surtout quand le serveur lagge beaucoup).

[2016-02-24 23:01] ghost commented on #85
alors il faut virer le 2eme et mettre tout dans le 1er, car le lag fait lancer le 2eme avant et ça crash
ou lancer le 2eme after dans le 1er au pire.

[2016-02-25 09:19] BetterToAutomateTheWorld commented on #85
Je ré-ouvre tant que la modif n'a pas été effectuée :)

[2016-02-25 09:28] kilbith commented on #85
https://github.com/minetest-mods/spectator_mode/commit/ab7290cdc9369adb323eec4d1dc5373d22481515

La fonction `minetest.after` a changé, ça marchait très bien sans crasher avant.

[2016-02-25 10:01] ghost commented on #85
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/f0e6ec22f4cedbb0469d7bd500e1b91fbd83e0b9

[2016-02-25 12:52] BetterToAutomateTheWorld commented on #85
- https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/8a1f7461cbcfc3281da55c328f30d994cb1faf34

Everything is ok I closes the issue.

[2016-02-25 12:52] #85 closed, assigned to nobody

[2016-03-01 16:27] ObaniGemini opened #86 "New glass_arena mod"
My idea is to use the arena mod made in https://github.com/rubenwardy/capturetheflag/tree/master/mods/ctf_barrier (from _CTF_ subgame) instead of the actual one in HG.

The advantages are that it doesn't create a glass arena in the center and overrides all the world around with glass, but creates arena squares threw all the map, which allows to create **several arenas on the same map**.

It would

[2016-03-01 16:30] ObaniGemini opened #87 "Several arenas"
I think we should support to have several arenas.
That would mean to have a random set of spawn for each arena.
The arena would be chosen randomly at the beginning of the match.

Also, maybe add a vote system to allow changing the map during the game (to avoid trolls, >79% yes needed IMO)

Some vote system can be found here https://github.com/rubenwardy/capturetheflag/tree/master/mods/vote

[2016-03-01 16:43] BetterToAutomateTheWorld commented on #87
Forget the vote system for the moment, the main goal is to teleport players to more than 1 arena

[2016-03-01 16:45] BetterToAutomateTheWorld commented on #86
The actual HG system is great and didn't freeze the server like the CTF does, we can add more arenas with the actual glasses, also the HG glasses are regenerated between 2 games (if a bad people usebug to destroy some of them)

[2016-03-01 19:46] Lymkwi commented on #87
Considering how Hg is designed this is not possible without breaking all the code in hungry_games/engines.lua. It is not made to support multiple games at once... However, trying to make it do so would surely result in terrifying instability or quirks... We could have multiple arenas with spawn points but there couldn't more than 1 game at once.
Honestly I don't want to do that... We're fine the w

[2016-03-01 19:53] Lymkwi commented on #86
I actually think that is a good thing that Hg only creates one arena, as @Ombridride pointed out, map generation with CTF's version, generating on the surface of all the map, would freeze. We do not need such a mod to generate more arenas though, we can tweak the current map to accept multiple arena centers.

[2016-03-01 20:34] ObaniGemini commented on #86
Ok I understand the point.
So maybe We should just make a 800 size arena and divide it by four, instead of one of 400 ?
I close the issue, we'll see that when the maps will be there/in building.

[2016-03-01 20:34] #86 closed, assigned to BetterToAutomateTheWorld

[2016-03-01 20:39] ObaniGemini commented on #87
@LeMagnesium : it is not about having several games at once, it's still about having one game but in a choice of some arenas. The game would be played in one arena chosen randomly.
Anyway the arenas aren't even made yet so it's low priority for now.

[2016-03-01 22:08] BetterToAutomateTheWorld commented on #87
small drawing :
![drawing](http://i.imgur.com/2Mo5Sio.png)

[2016-03-01 22:34] ghost commented on #87
c'est vrai que ça va casser quelques truc, il faudrait séparer les chest en plusieurs tables correspondant au arènes pour le refill et pareil pour les spawnpoint.
du genre

[code]

avec tout le bordel derrière pour charger tout ça.

[2016-03-02 10:04] ObaniGemini commented on #87
I don't understand the point. If there's only one game at once, why should we refill only the chests of one arena ? It will make more work for only a little lag dicrease.

@Ombridride : your drawing is not clear enough. Are the games played at the same time or one after the other ?

(EDIT @Ombridride : Drawing improved)

[2016-03-02 14:15] ghost commented on #87
@ObaniGemini je ne comprend pas/ou j'ai pas compris le principe, mais tu veut refill 4000 chest dont la plupart seront déchargés? Et avoir un seul fichier de chest pour tous.
avec ce que j'ai dit le jour ou tu veut désactiver une arène tu peut.

[2016-03-02 15:23] BetterToAutomateTheWorld commented on #87
Oui @crabman77 ta solution est celle à adopter

@ObaniGemini
I found this :
https://forum.minetest.net/viewtopic.php?f=12&t=13836&view=unread#p203613
Pretty beautiful medieval town, will be great as an arena ?

[2016-03-02 17:37] ObaniGemini commented on #87
@Ombridride : nice idea ! I think we should tweak the castle to make a HG map :)

[2016-03-02 20:48] Lymkwi commented on #87
Okay, so, first, there is the spawn issue.
For now hg stores spawn positions with the name player_n, n being a randing integer. If we create multiple arenas, the only way we could guarantee that all players are in the same arena is by changing the naming convention to use something like player_arenaID_n.
That would only solve the spawn issue ; we would still need to solve the following points :
-

[2016-03-25 11:55] Lymkwi commented on #87
With [this commit](https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/17de8ef9fed36820ef70e671022318ff6391e482) we should be able to set multiple arenas in the world.
(little warning though, I'm not 100% the chest file will be converted. Just in case, you should move `random_chests.chests` to `random_chests_0.chests` or have a backup.)

[2016-03-25 16:11] BetterToAutomateTheWorld commented on #87
Yes, a backup is a good idea :)

So, the next time I will merge + reboot, multiple arena are "activated" and i need to also re-set the spawn points ?

[2016-03-25 17:14] Lymkwi commented on #87
Technically, you can avoid all of this :
- The code I pushed declares only one arena at (0,0), which is the currently generated and operating one
- Chests _should_ be stored in their own file, but eventually you'll have to remove `random_chests.chests` or the server will perpetually load its data at boot
- Random spawnpoints can (and will have to) be changed in their save file quite easily. For ea

[2016-03-28 18:29] BetterToAutomateTheWorld opened #88 "Server crash because of Invalid line in auth.txt" from "/home/quentinbd/mff-hg/bin/../builtin/game/auth.lua""
#### Server crash because of "Invalid line in auth.txt" from "/home/quentinbd/mff-hg/bin/../builtin/game/auth.lua"

[code]

I deleted the leonidas player account and the line in the auth.txt.
I hope it will resolve the issue.

[2016-03-28 19:56] ElementW commented on #88
The skies are falling on our heads, even the core game has bugs...

[2016-03-29 20:49] Lymkwi commented on #88
There is simply no way to fix that, it's a saving error from builtin. This has to be reported to minetest's repository if it keeps happening despite switching to a dev version of builtin and fixing that line.

[2016-03-30 11:55] ObaniGemini commented on #88
You're lucky, it's the "issue-review" time at Minetest organization.

[2016-03-30 14:48] #88 closed, assigned to nobody

[2016-03-30 14:49] BetterToAutomateTheWorld commented on #88
Can't be solved, hope 0.4.14-stable will solve this issue in the future :)

[2016-03-30 16:09] ObaniGemini commented on #88
Added the upstream label. If we want this fixed some day, it should be reported upstream as @LeMagnesium said it.

[2016-04-01 21:44] BetterToAutomateTheWorld commented on #87
Ok, spawn file modified, here is the new one :

[code]

[2016-04-01 21:58] Lymkwi commented on #87
Have you merged the multiple arena code yet? If you haven't, it's time now. The spawn name modification doesn't work if you use the old code, and the old naming convention of spawns will not work with the code currently in the repository.

[2016-04-02 13:06] BetterToAutomateTheWorld commented on #87
Yes, it's merged.

[2016-04-07 15:19] ghost opened #89 "server crash"
[code]

[2016-04-07 16:31] Lymkwi commented on #89
That was a typo :
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/740bcca2d111f3477f4571ae27377989173fde0b

[2016-04-07 16:31] #89 closed, assigned to nobody

[2016-05-08 20:30] BetterToAutomateTheWorld commented on #87
Up, is the code for adding some arena areas (spawns, chests, random arena choice) ready ?

[2016-05-10 16:22] BetterToAutomateTheWorld opened #90 "Kill history"
Something like this is now possible and already coded, maybe we can also add it to our HG game ?
![](https://forum.minetest.net/download/file.php?mode=view&id=5696&sid=912510ec63dc505db22dda093d6ff6aa)
https://forum.minetest.net/viewtopic.php?f=50&t=12835&view=unread#p213240

[2016-05-10 19:50] Lymkwi commented on #90
That would be interesting on Hg indeed. It could work on Cl but I would rather not have it more overloaded than it is already.
I'll try it and add it to Hg's repo for testing.

[2016-05-13 12:21] BetterToAutomateTheWorld opened #91 "Need to check/investigate it"
![](http://i.imgur.com/odaChdO.png)

[2016-05-14 18:47] Lymkwi commented on #91
As far as I remember, when you chose to watch someone in the lobby before a game starts, you're considered as a skipper.
I'll check the code though, but that's the most logical way of getting skip to work with spectating.

[2016-05-14 18:51] BetterToAutomateTheWorld commented on #91
I agree, but we maybe need to add a _random_messages_ + some signs around the "eyes"(spectator blocks) to explain that

[2016-05-15 18:36] Lymkwi commented on #91
So, I ran tests. It seems that when you watch someone and enter a game, you follow that person, but you're not considered as a player, but if you had voted before, your vote apparently stays, and when the game starts, you're kicked from spectating, while playing in the game (you still have hunger and health bar showing up)
I'll fix that.

[2016-05-15 19:43] Lymkwi commented on #91
I had to do a workaround... basically, watching someone else before going into a game will make you skip, but you'll stay as a skipper until you vote. Since hg's engine is closed in hungry_games/engines.lua, I have no control over the skip/vote/registrant variables.

https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/01359e08820c5de0f3b07241097a9efccf0add3e

[2016-05-15 19:44] Lymkwi commented on #87
Everything is ready, as far as I know. For now the system only has one arena. (I cannot say that every little detail will work perfectly but things will be okay when you merge)

[2016-05-15 21:37] BetterToAutomateTheWorld commented on #87
Ok perfect,
I will add soon two arenas imported from this 2 maps :
- https://forum.minetest.net/viewtopic.php?f=12&t=14241
- https://forum.minetest.net/viewtopic.php?f=12&t=13836
- Maybe in the future another maps, maybe a pirates battle, two big ships and players spawn on them, for example...

(Link @ObaniGemini)

[2016-05-15 22:28] #91 closed, assigned to Lymkwi

[2016-05-16 12:20] Lymkwi commented on #87
I think you should install signs in the lobby to give credits for the maps.
It's just an idea, but I think it would be great.

[2016-05-16 14:09] BetterToAutomateTheWorld commented on #87
Yes you're right, it's a good idea

[2016-05-20 12:09] BetterToAutomateTheWorld commented on #90
I assigned this issue to you @LeMagnesium
Can you inform us about your progress ?

[2016-05-20 12:10] BetterToAutomateTheWorld commented on #87
I will try to add 1 or 2 more arenas this week, it's a huge work (because of chests, secrets, spawn, terraforming, maps improvments, etc...)

In this way, if you want to help me, do not hesitate to inform me and I will give you the necessar privileges :)

[2016-05-20 13:34] ObaniGemini commented on #87
When would you plan to do it ?

EDIT : sorry for not having been there at this time I couldn't come for personal reasons.

[2016-05-20 13:50] BetterToAutomateTheWorld commented on #87
I will activate the "maintenance mod" of the HG server as soon as im home this night, i will disable it only when it's over

[2016-05-23 13:22] BetterToAutomateTheWorld commented on #87
After some problems about the schematics saving, the maintenance and the arenas addition are reported...

I need to export the needed schematics and then import them to the HG server before the beginning of the creative/maintenance mod

[2016-05-24 14:33] BetterToAutomateTheWorld commented on #87
post-it here :

[2016-05-28 09:19] Lymkwi commented on #90
I've decided to give up on that mod you linked above, since it uses API from CTF, and I want to avoid merging too much code. I'll start coding a mod from scratch to do that.

[2016-05-28 19:34] BetterToAutomateTheWorld commented on #90
Ok, i understand, pretty good idea

[2016-05-29 11:47] Lymkwi commented on #90
A first version is now ready, I'll push it in the afternoon.

[2016-05-31 14:25] ghost commented on #90
le mod crash

[2016-05-31 14:47] BetterToAutomateTheWorld commented on #90
Aïe... il faut vite réparer ça !

[2016-05-31 16:01] Lymkwi commented on #90
I removed the old junk code causing the crash, immediate merge is possible.
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/b83c8c7fbfb87f6377fc5856a9d14b85ee2bcb2a

[2016-05-31 19:29] BetterToAutomateTheWorld commented on #90
Not yet done, but a really good beginning @LeMagnesium !
![](http://i.imgur.com/2REtAkZ.png)

[2016-05-31 19:30] BetterToAutomateTheWorld opened #92 "Spawn and freeze"
Players aren't freeze/stuck anymore at there spawn point until the "gong", they can move anywhere, for example near a chest or run away

SINCE 0.4.14-stable

[2016-05-31 19:39] BetterToAutomateTheWorld opened #93 "Le classement ne ce reset pas le premier du mois"
Le classement ne ce reset pas le premier du mois

[2016-05-31 19:55] BetterToAutomateTheWorld opened #94 "Hunger"
Depuis la MAJ hunger, la faim descend plus vite que la soif, hors avant c'état la soif qui descendait plus vite, il faut donc ralentir la perte de faim.
(et il semble logique de mourir de soif avant de mourir de faim, dans la vie réel)

A voir de combien la ralentir

[2016-05-31 21:21] ghost commented on #93
Ce devrait être bon cette fois.

[2016-06-01 13:49] BetterToAutomateTheWorld commented on #93
Ok, je mergerais avant la fin du mois pour le tester le 1er du mois prochain, merci pour le travail crabman

[2016-06-01 15:48] ObaniGemini commented on #90
I recommend you to use default textures :
- accident = bobblocks_majorspike ![bobblocks_majorspike.png](https://github.com/MinetestForFun/server-minetestforfun-hungry_games/blob/master/mods/bobblocks/textures/bobblocks_majorspike.png)
- burnt = fire_basic_flame.png
  ![fire_basic_flame.png](https://github.com/MinetestForFun/server-minetestforfun-hungry_games/blob/master/mods/fire/textures/fire_bas

[2016-06-03 10:21] Lymkwi commented on #90
Err, why not. But I would still keep my cross for hunger and drowning.

EDIT: I'll keep my icon for accidents though, bobblocks is not such a popular mod any more and I don't want to be depending on it.

[2016-06-04 18:57] Lymkwi commented on #90
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/300fbdc186634d9d6d8491ab9472d86d6c5e389b

[2016-06-04 19:36] BetterToAutomateTheWorld commented on #90
I agree with your choice for bobblocks

Happy to see your commits

[2016-06-06 20:28] Cyberpangolin opened #95 "crash at 22:13 on 06.06"
Internal error.
[22:13] <-- MFFHG-Bot a quitté (Quit: Game shutting down.)

[2016-06-07 14:11] BetterToAutomateTheWorld commented on #87
UP, someone can export the maps we need ?

[2016-06-10 16:40] Lymkwi commented on #95
I literally have no information here. Can @Ombridride pull some logs for us?

[2016-06-11 22:38] BetterToAutomateTheWorld commented on #95
Beaucoup de crash kill_history (1 à 20 chaque jour)

[code]

[code]

[code]

[2016-06-15 19:12] BetterToAutomateTheWorld commented on #95
@LeMagnesium Can you check your "kill_history" code please ?

[2016-06-15 19:36] Lymkwi commented on #95
The fix has been there for a while, it was just not merged.
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/f17db5cef9177001affdf7830c57c88776965233

[2016-06-15 19:36] #95 closed, assigned to Lymkwi

[2016-06-19 15:28] Lymkwi commented on #87
I've sent you a link to the quartz palace already, and I'm waiting to export the second map.
EDIT: In case you lost it : https://up1.ca/#2nxf5VmqWxvvfRTPXsls-A
EDIT2: Here's medieval https://up1.ca/#ZA3bX-8-SYJtxD_GYNHpQQ
Also I'm gonna have to figure out a way to have different sizes of arenas

[2016-06-20 14:36] Cyberpangolin opened #96 "hud bar bug"
discodlm57 reported this:

![880910dplacementdebarre](https://cloud.githubusercontent.com/assets/12512762/16198085/e3a18310-3704-11e6-9664-85276240e0cf.png)

Seems to happen regularly for him, I couldn't reproduce it.

He plays in 0.4.13, maybe it can explain it.

[2016-06-20 16:08] Lymkwi commented on #92
Even with 0.4.13 stable running both server and clients, the players are not stuck at the beginning. I saw no piece of code dedicated to that so maybe it was removed. I'm going to inspect hungry_games a bit more and recode something.

[2016-06-20 16:43] Lymkwi commented on #92
It freezes for half a second more time than it should but it works. Pushed.

[2016-06-20 16:43] #92 closed, assigned to Lymkwi

[2016-06-21 07:15] BetterToAutomateTheWorld commented on #92
Perfect, thank you

[2016-06-21 07:16] BetterToAutomateTheWorld commented on #96
Minetest windowed ?
Low resolution ?
Window square or rectangle ?

[2016-06-24 14:15] Lymkwi commented on #94
Il fallait avant 2 minutes pour avoir faim, 3 minutes pour avoir soif.
Maintenant, ce seront 2 minutes pour avoir soif, et 3 minutes pour avoir faim.
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/b8632e61d505b141708b75650420f10eab7e5e8a

[2016-06-24 14:16] Lymkwi commented on #90
Is everything okay now? Can we close this?

[2016-06-24 20:47] BetterToAutomateTheWorld commented on #90
I don't see any crash from this mod

I think everything is good, can you post a screenshot to have a preview of the the final kill history design before the closure of the issue ?

[2016-06-24 20:48] BetterToAutomateTheWorld commented on #94
Parfait, merci.

[2016-06-24 20:48] #94 closed, assigned to Lymkwi

[2016-06-29 12:18] Lymkwi commented on #90
![](https://lut.im/IDEst2UiK4/5DwwEN4VCCEQYO67)

There.

[2016-06-29 15:30] #90 closed, assigned to Lymkwi

[2016-06-29 15:31] BetterToAutomateTheWorld commented on #90
The order seems a little strange in my point of view, but if it's good for you it's good for me

[2016-06-29 15:41] Lymkwi commented on #90
(you actually asked me to put it that way, but never mind)

[2016-06-29 17:08] BetterToAutomateTheWorld commented on #90
No i didn't :)

I said "killer" picture "victim"
(and the picture in the "victim" direction)

[2016-07-02 16:57] BetterToAutomateTheWorld opened #97 "Kill_history still crash the HG server"
[code]

[2016-07-05 11:52] BetterToAutomateTheWorld opened #98 "Kill_history still crash the HG server"
[code]

[2016-07-13 18:29] Lymkwi commented on #97
I can't do anything with those logs, they're not precise, they were produced before my addition of print dumps and split assertions. Same goes for #98

[2016-07-13 18:36] Lymkwi commented on #96
Any news about this? I doubt it's fixable using lua code, unless it happens again.

[2016-07-14 11:41] BetterToAutomateTheWorld commented on #98
Let's close this issue until more verbose logs

[2016-07-14 11:41] #98 closed, assigned to Lymkwi

[2016-07-14 11:41] BetterToAutomateTheWorld commented on #97
Let's close this issue until more verbose logs

[2016-07-14 11:41] #97 closed, assigned to Lymkwi

[2016-07-14 11:41] BetterToAutomateTheWorld commented on #93
Someone can confirm me it works now ?

[2016-07-14 15:48] ghost commented on #96
fixed https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/28db91c85edcd80e4707b9aa2af6fff278138d9c

[2016-07-14 15:48] #96 closed, assigned to nobody

[2016-07-14 20:22] Lymkwi commented on #93
We need to ask someone who is frequently on the Hungry Games server.
That or I try it locally, but I can never be sure when I try locally.

[2016-07-25 21:43] aerozoic opened #99 "Server crash"
[code]

:large_orange_diamond:

[2016-07-25 22:49] Lymkwi commented on #99
I'd like to have the logs right before please, they contain the necessary information to solve this issue.
(unless they come from the server, which doesn't have the code for it)

[2016-07-25 22:53] aerozoic commented on #99
I just saw the crash on IRC and copied logs from last 1000 lines link.

:large_orange_diamond:

[2016-07-25 23:55] aerozoic opened #100 "Is this a hacked client?"
This was in the pre-fight lobby area before a match. He was shooting arrows all over the lobby. Then he decided to drop some of his items, including a bow and sword, on the ground which i couldn't pick up. In this screenshot you can see he is wearing armor:
![pregame](https://cloud.githubusercontent.com/assets/15715378/17121346/0fd1f1a6-52a1-11e6-9a23-a7680791280d.png)

Then once we get in the gam

[2016-07-26 08:01] BetterToAutomateTheWorld commented on #100
Armor in the lobby :
Sometimes, it happens, maybe a lag issue because, normally, the inventory/stuff is reseted when the arena is done and the player teleported to the lobby.
I didn't remember if the inventory is reseted when the player is teleported from the lobby to the arena, we need to check it, if the inventory/stuff/craft grid is reseted, no need to be afraid.

Health bar gone :
It's a bug w

[2016-07-26 18:20] aerozoic commented on #100
I took those pics only a few minutes apart, and it's the same player in both pics. I also played more than one game with this player and he never had a health bar. That's one hell of a coincidence.

:large_orange_diamond:

[2016-07-27 20:28] Lymkwi commented on #100
@Cyberpangolin I haven't heard about the hud_bar bug related to gauges. You can't kill gauges.
All of this makes me think indeed that this is a hacked client. I've done this myself on Classic. If you prevent the client from sending real damage packets, the server will just ignore all damages. It is also possible that this player somehow glitched and respawned with health at 0 or under, and became

[2016-07-30 10:23] BetterToAutomateTheWorld commented on #99
![](http://i.imgur.com/RJsEGIz.png)

[2016-07-30 10:26] Lymkwi commented on #99
That's probably related, but if you could merge my (not so) recent commit so that I can have more insights on what's bugging the server, thank you in advance.
(I originally thought it was about the player's color being removed too soon, but that wasn't it)

[2016-07-30 10:40] BetterToAutomateTheWorld commented on #99
I will merge this evening or tomorrow, anyway, you will receive a new "realease" notification

[2016-07-31 21:18] BetterToAutomateTheWorld opened #101 "[Crash] Spectator mod"
[code]

[2016-08-08 15:09] BetterToAutomateTheWorld opened #102 "healthbar bug & armor in the lobby"
Related to : https://github.com/MinetestForFun/server-minetestforfun-hungry_games/issues/100
### Armor in the lobby

Sometimes, it happens, maybe a lag issue because, normally, the inventory/stuff is reseted when the arena is done and the player teleported to the lobby.
I didn't remember if the inventory is reseted when the player is teleported from the lobby to the arena, we need to check it, if

[2016-08-08 15:10] BetterToAutomateTheWorld commented on #100
For a more accurate thread, thanks to continue here : https://github.com/MinetestForFun/server-minetestforfun-hungry_games/issues/102

[2016-08-08 15:10] #100 closed, assigned to BetterToAutomateTheWorld

[2016-08-08 15:34] BetterToAutomateTheWorld commented on #101
Up, this crash seems fixed, i didn't see any other crash from this.

Thank you @crabman77 for your work.

I close the issue.

[2016-08-08 15:34] #101 closed, assigned to nobody

[2016-08-08 15:46] BetterToAutomateTheWorld commented on #99
Merged and fixed, closed.

[2016-08-08 15:46] #99 closed, assigned to Lymkwi

[2016-08-08 15:56] BetterToAutomateTheWorld commented on #93
reopen this issue if not reseted ;)

[2016-08-08 15:56] #93 closed, assigned to Lymkwi

[2016-08-09 21:39] aerozoic commented on #102
LizzardBeth said that one way to end up in the lobby with armor and items in your inventory is to be fighting during a server crash, then when the server reboots you still have all your stuff from fighting before the crash.
:large_orange_diamond:

[2016-08-10 10:17] BetterToAutomateTheWorld commented on #102
Thanks to LizzardBeth for this information
Yes, it seems logical because if the arena isn't over in a "normal" way, the "erased stuff/inventory/craft grid" check isn't passed.

So we need an additionnal "erased stuff/inventory/craft grid" check after the player connection to the server. It seems good to me because anyway if the palyer is in the arena or not, if he leaves the game, he will repop in

[2016-08-13 12:20] Lymkwi commented on #102
Something to add about hudbars : knowing how often bugs appear with hud elements, there is still a possibility that the disappearance of our health bars (which occurs as well on Sb by the way, and not only for the health bar, but also the armor bar) is caused by the engine. It's still a minor possibility, but until we have identified the origin of the bug we cannot be sure whether it is or it isn'

[2016-08-13 13:01] BetterToAutomateTheWorld commented on #102
@LeMagnesium
Sorry i was speaking about "gauges bar" and not 'hud bars", my mistake

[2016-08-16 23:12] BetterToAutomateTheWorld opened #103 "world.mt clean needed"
world.mt clean needed

[2016-08-18 17:13] Lymkwi commented on #87
Up.
I'm waiting for the system to be put in place, meaning that we have to decide where to place the other arena, and import those maps.
That's most likely @Darcidride's job.

[2016-08-18 19:23] BetterToAutomateTheWorld commented on #87
Yes, I need to schedule this task
Thank you for the assignment

[2016-08-19 13:52] AcidNinjaFWHR commented on #87
@Darcidride désolé mais ça me pique les yeux, après "I need to", il faut un verbe à l'infinitif. Merci et désolé :laughing:

[2016-08-24 07:31] BetterToAutomateTheWorld commented on #103
Done.

[2016-08-24 07:31] #103 closed, assigned to BetterToAutomateTheWorld

[2016-08-24 13:42] BetterToAutomateTheWorld opened #104 "Undeclared global variable"
[code]

[2016-08-24 14:15] Lymkwi commented on #104
IRC was fixed a while ago. I'll take care of the others.

[2016-09-01 10:22] #104 closed, assigned to Lymkwi

[2016-10-06 16:39] Lymkwi commented on #102
Any updates on that? Any new occurrences?

[2018-04-17 20:50] Ataron opened #105 "Problem with the spawn"
I have tried to play on the hunger game server recently, but I couldn't. Indeed, I first spawned in 0 0 instead of spawning in the flying lobby. Then I tried to lauch the game with /vote, but I couldn't the server said : **"Spawn position aven't been set yet for arena #0 (0, 0). The game can not be started at the moment."**
Therefore, it's currently impossible to play on the server since (atleast)

[2018-06-02 07:37] Lymkwi commented on #105
Thanks to that error message I should be able to retrace the issue back to where it originates and fix it. I'm investigating it now.

[2018-06-02 08:58] Lymkwi commented on #105
The problem lies within the spawn position file located in the world directory. It seems not to be filled in correctly. Sadly, it's not a file in the repository. Perhaps @Darcidride should add it so we can inspect and fix it? I do not believe it contains sensitive data.

[2018-06-06 13:16] BetterToAutomateTheWorld commented on #105
Hi,

Yes the spawn position file for Hunger games is broken since a long time, I will commit it to the repository...

But well, i can let you know that our repositories will soon move from Github, i guess you know why :) (maybe framagit, or a selfhosted solution when the big boy i've at my home will be done)

EDIT :
![image](https://user-images.githubusercontent.com/8619233/41040506-e53e77a6-699c-

[2018-06-06 13:20] BetterToAutomateTheWorld commented on #105
Done.
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/770622bbd12aab2e7d13c0158db47172ed2a6e92

Need to fill it now :)
(unfortunately, i don't have in mind the lobby/spawn positions :/)

[2018-06-07 17:27] Lymkwi commented on #105
Alright, I've found the source.
Our spawns' list has merely been erased. That's why the recently added `spawnings.spawn` contains so few entries. I would advise @Darcidride to dig up our save files, or the current world directory, to find a file containing the old spawn locations. Otherwise he'll need to go ingame and set them again using `/hg set player_<n>`.

[2018-06-07 21:19] BetterToAutomateTheWorld commented on #105
Ok, it's fixed, i need to push the new spawns config file to the repo and it will be good for the future corruption of this file... :)

The HG server is up and running again